
    .table1 {
        font-size: 30px;
    }
    .lable {
        font-size: 20px;
        font-family:Microsoft JhengHei;
        font-weight:bold;
    }
    
    
    .lable1 {
        font-size: 30px;
        font-weight:bold;
        font-family:Microsoft JhengHei;
    
    }
    
    .title
    {
        font-size: 60px;
        text-align: center;
        font-family:Microsoft JhengHei;
        font-weight:bold;
        width:"100%";    
        background-color:	#AAFFEE;
    }   
    a{
      color:black; 
      text-decoration:none;
    } 
    .status{
      float:right;
      
    }
    table  {
        font-size: 30px;
        border: none ;
        text-align:center;
        font-family:Microsoft JhengHei;
        font-weight:bold;
    }
    #myTable{
        font-size: 20px;
    }
    @media(max-width:768px) {
    
      #myTable{
          font-size: 10px;
        }
    
      .title{
        font-size: 20px;
      } 
      table  {
        font-size: 10px;
        border: none ;
        text-align:center;
        font-family:Microsoft JhengHei;
        font-weight:bold;
      } 
      .lable {
        font-size: 10px;
        font-family:Microsoft JhengHei;
        font-weight:bold;
      }
      .lable1 {
        font-size: 15px;
        font-weight:bold;
        font-family:Microsoft JhengHei;
    
      }
    }
