

<!DOCTYPE html>
<head>
 

<link rel='stylesheet' href='https://tafengtravel.github.io/tafengtravel/index/css/smart.css' type='text/css'>
<link href="https://tafengtravel.github.io/tafengtravel/index/index.css" rel="stylesheet" >

<link rel="stylesheet" href="https://tafengtravel.github.io/tafengtravel/index/index.css">

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<link href='https://tafengtravel.github.io/tafengtravel/index/sm-css/sm-core-css.css' rel='stylesheet' type='text/css' />
<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
<link href='https://tafengtravel.github.io/tafengtravel/index/sm-css/sm-mint/sm-mint.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">

<script src="https://tafengtravel.github.io/tafengtravel/index/js/jquery.min.js.js"></script>     


<script src="https://tafengtravel.github.io/tafengtravel/index/js/jquery.smartmenus.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<link href="https://tafengtravel.github.io/tafengtravel/index/css/elementUI.css" rel="stylesheet" />
<link href="https://tafengtravel.github.io/tafengtravel/index/css/common.css" rel="stylesheet" />
<link href="https://tafengtravel.github.io/tafengtravel/index/css/swiper.min.css" rel="stylesheet" />

<link href="https://tafengtravel.github.io/tafengtravel/index/css/book.css" rel="stylesheet" />




<!--自家檔案-->

<link rel="icon" href="https://tafengtravel.github.io/tafengtravel/index1/tafenglogo6.ico" type="image/x-icon" />
<link rel="shortcut icon" href="https://tafengtravel.github.io/tafengtravel/index1/tafenglogo6.ico" type="image/x-icon" />

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-firestore.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->


<!-- axios -->

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyC1DlPU6BqCFXzWLBZ_6Y90KNLwYzfei3c",
        authDomain: "tafengtravel-web.firebaseapp.com",
        projectId: "tafengtravel-web",
        storageBucket: "tafengtravel-web.appspot.com",
        messagingSenderId: "971660802735",
        appId: "1:971660802735:web:af7e22d11fe81ca63ab25a"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>


<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>



<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143702269-1"></script>

<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-143702269-1', {
'linker': {
    'domains': ['tafengtravel.github.io', 'tafeng66.com.tw']
}
});
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '708390289347362');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=708390289347362&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Facebook Event -->


<!-- GA Event -->
<script>
window.addEventListener('load', function(event) {
document.querySelectorAll("[href^='http://line.me']").forEach(function(item){
    item.addEventListener('click', function(event){
        gtag("event", "點擊", {event_category: "line客戶轉換"});
    })
})
document.querySelectorAll("[href^='https://line.me']").forEach(function(item){
    item.addEventListener('click', function(event){
        gtag("event", "點擊", {event_category: "line客戶轉換"});
    })
})
})  
</script>

<style>
@media (min-width: 768px){
    .image-margin {
        margin-bottom: -5px;
    }.text-margin{
        padding-left: 15px;
    }.image-fit{
        width:280px;
    }
    .back{
        background-image: url("image/usa.jpg");
    }

}
@media (max-width: 768px) {
    .table-sm td, .table-sm th{
    padding: 1px;
    } 
    .image-fit{
        width:100%;
    }
    .back{
        background-image: url("image/usa1.jpg");
    }
}
.font{
    white-space: pre-wrap;
}

.el-card{
    margin-bottom:30px; 
    min-height: 490px;
}

</style>

   
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>美國自由行｜大豐旅行社</title>   	

<meta name="description" content="">
<meta name="keywords" content=""> 
<meta http-equiv="expires" content="0">
<meta http-equiv="cache-control" content="no-cache">  
<meta http-equiv="pragma" content="no-cache">
<meta name="format-detection" content="telephone=no">



</head>
<body id="page_body" class="green-page">

<div class="include" file="https://tafengtravel.github.io/tafengtravel/index/top"></div>

<div id="pnl_wrapper" class="wrapper homepage green-page">
    <div id="app"> 

        <div class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24">
            <el-row :gutter="20" class="back">
                <br><br><br><br><br><br><br>

                <br><br><br><br><br><br><br><br>
            </el-row>
        </div>
        
        <div class ="el-col el-col-24 el-col-xs-20 el-col-xs-offset-2 el-col-sm-20 el-col-sm-offset-2 el-col-md-22 el-col-md-offset-1 el-col-lg-18 el-col-lg-offset-3">
            <el-row :gutter="20">
                <span class = "title">美國機+酒</span>
            </el-row>
            <el-row :gutter="20">
                <div v-for="item in data">
                    
                    <a :href ='"https://tafengtravel.github.io/tafengtravel/index/product/product.html?id="+item.id' target="_blank">
                        <el-col class ="el-col el-col-xs-24 el-col-sm-24 el-col-md-8 el-col-lg-6 ">
                            <el-card class="box-card"  :body-style="{ padding: '0px' }" shadow="hover">
                                <div class ="image-margin  el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24 ">
                                    <el-image style="width:100% ;height: 260px" :src="item.coverUrlSmall":fit="fits">
                                    </el-image>
                                </div>

                                <div  style="padding: 10px;" class ="text-margin el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24"> 
                                    <span class="font"><font color="black">{{item.title}}</font></span>
                                </div>

                                <div  style="padding: 10px;" class ="text-margin el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24"> 
                                    <font class="mini_font">{{item.features}}...</font>
                                </div>

                                <div  style="padding: 10px; text-align:right" class ="text-margin el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24"> 
                                    <span class="font">$</span> 
                                    <span class="sub_title"><font color="#FF6600">{{item.lowPrice}}</font></span>
                                    <span class="font">起</span> 
                                </div>

                            </el-card>
                        </el-col>
                    </a>
                </div>

            </el-row>

            <el-row :gutter="20">
                <span class = "title">美國機票</span>
            </el-row>

            <el-row :gutter="20">
                <div v-for="item in data1">
                    
                    <a href ='https://tafengtravel.github.io/tafengtravel/index/flight/search.html'>
                        <el-col class ="el-col el-col-xs-24 el-col-sm-24 el-col-md-8 el-col-lg-6 ">
                            <el-card class="box-card"  :body-style="{ padding: '0px' }" shadow="hover">
                                <div class ="image-margin  el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24 ">
                                    <el-image style="width:100% ;height: 260px" :src="item.coverUrlSmall":fit="fits">
                                    </el-image>
                                </div>

                                <div  style="padding: 10px;" class ="text-margin el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24"> 
                                    <span class="font"><font color="black">{{item.title}}</font></span>
                                </div>

                                <div  style="padding: 10px;" class ="text-margin el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24"> 
                                    <font class="mini_font">{{item.features}}...</font>
                                </div>

                                <div  style="padding: 10px; text-align:right" class ="text-margin el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24"> 
                                    <span class="font">$</span> 
                                    <span class="sub_title"><font color="#FF6600">{{item.lowPrice}}</font></span>
                                    <span class="font">起</span> 
                                </div>

                            </el-card>
                        </el-col>
                    </a>
                </div>

            </el-row>

            <el-row :gutter="20">
                <span class = "title">美國簽證代辦</span>
            </el-row>

            <el-row :gutter="20">

                <a href ='http://line.me/R/ti/p/%40zok5012a'>
                    <el-col class ="el-col el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24 ">

                        <el-card class="box-card"  :body-style="{ padding: '0px' }" style="min-height: 150px;" shadow="hover">
                            <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-20 el-col-sm-offset-0" id="box-card" style="padding-left:8px;padding-right:8px;">
                                <div  style="padding: 10px;" class ="text-margin el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24"> 
                                    <span class="font"><font color="black">美國ESTA(電子旅遊許可證)</font></span>
                                </div>

                                <div  style="padding: 10px;" class ="text-margin el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24"> 
                                    <font class="mini_font">辦證須知：持中華民國普通晶片護照(需有身份證字號)並符合免簽證計畫停留90天以內，須辦理ESTA以免簽方式進入美國<br>
                                        辦證天數：約 4 個工作天 (代辦約加4個工作天)<br>
                                        效期及入境次數：2年效期，多次<br></font>
                                </div>
                            </div>

                            <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-4 el-col-sm-offset-0" style="padding-left:8px;padding-right:8px;padding-bottom:8px">
                                <el-button type="primary is-plain" style="width:100% ;margin:15px 0px 0px 0px">聯絡我們</el-button>
                            </div>
                            
                        </el-card>
                    </el-col>
                </a>

            </el-row>

            <el-row :gutter="20">
                <span class = "title">美國其他代訂服務</span>
            </el-row>

            <el-row :gutter="20">

                <a href ='http://line.me/R/ti/p/%40zok5012a'>
                    <el-col class ="el-col el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24 ">

                        <el-card class="box-card"  :body-style="{ padding: '0px' }" style="min-height: 150px;" shadow="hover">
                            <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-20 el-col-sm-offset-0" id="box-card" style="padding-left:8px;padding-right:8px;">
                                <div  style="padding: 10px;" class ="text-margin el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24"> 
                                    <span class="font"><font color="black">其他美國當地代訂服務</font></span>
                                </div>

                                <div  style="padding: 10px;" class ="text-margin el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24"> 
                                    <font class="mini_font">*提供相關美國資訊或地圖<br>
                                        *代訂住宿<br>
                                        *提供美國當地包車服務<br>
                                    </font>
                                </div>
                            </div>

                            <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-4 el-col-sm-offset-0" style="padding-left:8px;padding-right:8px;padding-bottom:8px">
                                <el-button type="primary is-plain" style="width:100% ;margin:15px 0px 0px 0px">聯絡我們</el-button>
                            </div>
                            
                        </el-card>
                    </el-col>
                </a>

            </el-row>

            <el-row :gutter="20">
                <span class = "title">美國QA</span>
            </el-row>

            <div v-for="item in data2">

                <el-divider></el-divider>

                <el-row :gutter="20">
                    <span class = "font"><font color="red">{{item.question}}</font></span>
                </el-row>

                <el-row :gutter="20">
                    <span class = "font">{{item.answer}}</span>
                </el-row>

                
            </div>

            <el-row>
                <el-backtop :bottom="100"></el-backtop>
            </el-row>
        </div>

        <div class ="el-col el-col-24 el-col-xs-20 el-col-xs-offset-2 el-col-sm-20 el-col-sm-offset-2 el-col-md-22 el-col-md-offset-1 el-col-lg-18 el-col-lg-offset-3">

        </div>
        
    </div>
</div>




<div class="text-center">

    <div class="include" file="https://tafengtravel.github.io/tafengtravel/index/footer"></div>

</div> 



<a class="go-to-top" id="goTop" href="#"><i class="fa fa-caret-up"></i>top</a>

    
</body>

<script type="text/javascript">

//使用jQuery的load方法
$(".include").each(function(){
    if(!!$(this).attr("file")) {
        var $includeObj = $(this);
        $(this).load($(this).attr("file"), function(html){
            $includeObj.after(html).remove();    //載入的檔案內容寫入到當前標籤後面並移除當前標籤
        })
    }
});
</script>

<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui@2.15.0/lib/index.js"></script>


<script>
    const urlParams = new URLSearchParams(window.location.search)
    const paramsObj = Object.fromEntries(urlParams)
    console.log(paramsObj)
    let data = []

    

    var Main = {
        data() {
            return {
                    total:0,
                    dataSearch1:'',
                    dataSearch:'',
                    search:'',
                    searchSuggest: [],
                    fits:'cover',
                    data:[],
                    data1:[
                        {
                            title:'洛杉磯機票',
                            coverUrlSmall:'image/los.jpg',
                            lowPrice:'69919',
                            features:'天天直飛、長榮航空',
                        },{
                            title:'舊金山機票',
                            coverUrlSmall:'image/sf.jpg',
                            lowPrice:'45019',
                            features:'天天直飛、美國聯合航空',
                        },{
                            title:'紐約機票',
                            coverUrlSmall:'image/ny.jpg',
                            lowPrice:'43309',
                            features:'長榮直飛、日航最優惠',
                        },{
                            title:'西雅圖機票',
                            coverUrlSmall:'image/sea.jpg',
                            lowPrice:'44698',
                            features:'長榮直飛、韓亞航最優惠',
                        },{
                            title:'芝加哥機票',
                            coverUrlSmall:'image/chi.webp',
                            lowPrice:'38948',
                            features:'日本航空、長榮航空',
                        },{
                            title:'波士頓機票',
                            coverUrlSmall:'image/bos.jpg',
                            lowPrice:'47833',
                            features:'美國聯合航空、日本航空',
                        },{
                            title:'休士頓機票',
                            coverUrlSmall:'image/hou.jpg',
                            lowPrice:'54374',
                            features:'長榮航空、達美航空',
                        },{
                            title:'亞特蘭大機票',
                            coverUrlSmall:'image/atl.jpg',
                            lowPrice:'53847',
                            features:'達美航空、大韓航空',
                        },
                    ],
                    data2:[
                        {
                            question:'台灣搭機前的COVID-19檢測相關說明？',
                            answer:'前往指定院所取得三天內自費快篩或PCR中英檢測證明始得登機\n相關連結→https://bit.ly/3wqs6Zk',
                        },
                        {
                            question:'台灣出境前會需要機場快篩檢查嗎？',
                            answer:'自2021年1月26日起，所有滿兩歲飛往美國或經美國轉機之旅客須出示COVID-19陰性證明或康復證明。COVID-19檢測須為出發前三日內進行採檢，檢測方式必須為NAAT或是抗原檢測. 檢測報告可為紙本或電子格式，且須有可供辨別之旅客資訊（如姓名及生日）、檢測方式及受檢時間。康復證明須為出發前90日內陽性檢測證明及康復證明文件。另需於搭機前繳交旅客聲明書予航空公司人員。詳細資訊請參考美國CDC官方公告。\n相關連結→ https://www.cdc.gov/coronavirus/2019-ncov/travelers/testing-international-air-travelers.html',
                        },
                        {
                            question:'美國入境規定',
                            answer:'抵美前14天若曾至（包含轉機或過境）中國大陸（除香港、澳門）、伊朗、申根地區、英國（不包含歐洲以外之英國海外領土）、愛爾蘭、巴西、南非、印度之外籍旅客禁止入境。',
                        },
                        {
                            question:'美國各地是否都是需登機前3天內做COVID-19核酸檢測 ?',
                            answer:'International traveler入境美國境內，皆需要提供三天內的紙本英文COVID陰性報告， 於CHECK IN時提供給航空公司',
                        },
                        {
                            question:'去美國需要隔離嗎? 有強制隔離嗎? 安排進防疫旅館隔離 14天? 或須先自行找好?',
                            answer:'美國沒有防疫旅館, 需自主管理7天為主,抵達後3-5天 CDC 建議要再次快篩或是PCR或測試。\n◎即使您的測試結果為陰性，也需自主管理7天。\n◎如果您的測試呈陽性，請隔離 自己以保護他人免受感染。\n◎如果您沒有接受檢查，請在旅行後自我隔離10天。\n自我監測COVID-19症狀；如果出現症狀，請隔離並進行測試。\n遵守所有州和地方的 建議或要求。',
                        },
                        {
                            question:'簽証如何辦理？注意事項？',
                            answer:'在台灣設籍之中華民國國民，凡持普通晶片護照赴美從事90日以下之商務或觀光旅行，皆可申請，如果已有美國國籍或永久居留身分(綠卡)者則無法申請。\n相關連結→https://drive.google.com/file/d/1JXpxVS7CpZE9ZkbKXlUygAX7YrVU4wr-/view?usp=sharing',
                        },
                        {
                            question:'需檢附給航空公司的檢測證明？',
                            answer:'(1) 抵美前14天若曾至（包含轉機或過境）中國大陸（除香港、澳門）、伊朗、申根地區、英國（不包含歐洲以外之英國海外領土）、愛爾蘭、巴西、南非、印度之外籍旅客禁止入境。美國公民、美國公民之直系親屬、永久居民不在此限。\n(2) 滿兩歲之旅客須出示COVID-19陰性證明或康復證明。COVID-19檢測須為出發前三日內進行採檢，檢測方式必須為NAAT或是抗原檢測\n(3) 前往洛杉磯之旅客，應完成線上填寫個人聯絡資訊，於抵達時實行14天自主隔離,前往紐約之旅客,應填寫電子健康聲明書,於抵達後實行14天自主隔離。',
                        },
                        {
                            question:'開票後COVID-19檢驗不符合規定, 機票如何處理?',
                            answer:'檢測不合格須旅客自行負責, 退改政策須視購買機票的航司規定辦理有否提供安心改方案。',
                        },
                        {
                            question:'若班機起飛前航空公司取消航班, 可以找誰處理呢?',
                            answer:'目前遇到的情況是航空公司協助簽轉至其他航空公司,或是電洽購票之航空公司協助處理，若是透過旅行社購買需找原訂票旅行社協助處理',
                        },
                        {
                            question:'報到時間是否維持以往的登機前三小時?',
                            answer:'疫情期間建議於航班起飛前3小時至機場辦理登機手續',
                        },
                        {
                            question:'可協助旅客代投保旅平險或防疫險？',
                            answer:'可代投保旅平險，防疫險請逕洽保險公司。\n旅平險保障內容為意外身故及失能保險金 + 傷害醫療保險金 + 海外突發疾病醫療給付 + 海外旅遊不便險',
                        },
                        {
                            question:'出國染疫公司代保險是否有理賠？',
                            answer:'旅平險如有附加海外突發疾病醫療險染疫可以申請理賠，然任何以獲得海外醫療為目的之出國治療行為不予理賠(如打疫苗等)。',
                        },

                    ]
                };
                
    
            },methods: {



            },async mounted(){
                
                let db = firebase.firestore();
                ref = db.collection('list')

                await ref.where('country','==','美國').get().then(querySnapshot => {
                    let i=0
                    querySnapshot.forEach(doc => {  
                        console.log(doc.data())
                        if(doc.data().available == true && doc.data().location == ''){

                            data[i] = doc.data()
                            data[i].features = (doc.data().features).slice(0,40)
                            i=i+1
                        }
                        
                    });  
                    data.sort((a,b)=>{return a.lowPrice - b.lowPrice})
                    this.data = data
                });
                
            } 
        
     
    };
    let Today=new Date();
    // console.log(Today.getFullYear()+'-'+ (Today.getMonth()+1) +'-'+ Today.getDate())

    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')


    // function buy(type){

    //     let itinerary = document.getElementById('itinerary'+type).innerText

    //     type2 = document.getElementById('radio'+type+'_'+radio1_1.__vue__.value).innerText


    //     localStorage.setItem("dep_date", document.getElementById('dep_date').value);
    //     localStorage.setItem("itinerary",itinerary);
    //     localStorage.setItem("price",price_html[0].outerText);
    //     localStorage.setItem("quantity", quantity1.__vue__.value+'位');
    //     localStorage.setItem("time", document.getElementById('choice_time1').value);
    //     localStorage.setItem("type", type2);
    //     localStorage.setItem("guest", true);
    //     document.location.href='https://tafengtravel.github.io/tafengtravel/index/book/book.html';

    // }

</script>

</html>
