.lable {
    font-size: 28px;
    font-family:Microsoft JhengHei;
  }
  
  
  table {
    font-size: 30px;
    border: none ;
    text-align:center;
    font-family:Microsoft JhengHei;
    font-weight:bold;
    background-color:	#AAFFEE;
    table-layout:fixed;
  }
  .lable1 {
      font-size: 30px;
      font-weight:bold;
      font-family:Microsoft JhengHei;
  
  }
  .lable2 {
      font-size: 35px;
      font-weight:bold;
      font-family:Microsoft JhengHei;
  
  }
  
  .title
  {
      font-size: 60px;
      text-align: center;
      font-family:Microsoft JhengHei;
      font-weight:bold;
      width:"100%";    
      background-color:	#AAFFEE;
  } 
  
  a{
    color:black; 
    text-decoration:none;
  } 
  .r1{
    background-color: #D4D4D4;
  }
  .r2{
    background-color: #FFDA96;
  }
  .r3{
    background-color: #B9E5FF;
  }
  .r4{
    background-color: #FFD8D3;
  }
  .r5{
    background-color: #DBFFD1;
  }
  .r6{
    background-color: #D4D4D4;
  }
  .status{
    float:right;  
  }
  .r7{
    background-color: #BEBEBE	;
  }
  .lableop{
    font-size: 28px;
    font-family:Microsoft JhengHei;
    color:rgb(12, 9, 177);
    font-weight:bold;
  }
  .lablecheck{
    font-size: 28px;
    font-family:Microsoft JhengHei;
    color:#8F0000;
    font-weight:bold;
  }.lablemanager{
    font-size: 28px;
    font-family:Microsoft JhengHei;
    color:rgb(248, 8, 248);
    font-weight:bold;
  }
  html,body{
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.2
    }
  @media(max-width:768px) {
        
        .title{
          font-size: 20px;
        } 
        table  {
          font-size: 10px;
          border: none ;
          text-align:center;
          font-family:Microsoft JhengHei;
          font-weight:bold;
        } 
    
    }