

<!DOCTYPE html>
<head>
 

<link rel='stylesheet' href='https://tafengtravel.github.io/tafengtravel/index/css/smart.css' type='text/css'>
<link href="https://tafengtravel.github.io/tafengtravel/index/index.css" rel="stylesheet" >

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<link href='https://tafengtravel.github.io/tafengtravel/index/sm-css/sm-core-css.css' rel='stylesheet' type='text/css' />
<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
<link href='https://tafengtravel.github.io/tafengtravel/index/sm-css/sm-mint/sm-mint.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">

<script src="https://tafengtravel.github.io/tafengtravel/index/js/jquery.min.js.js"></script>     


<script src="https://tafengtravel.github.io/tafengtravel/index/js/jquery.smartmenus.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<link href="https://tafengtravel.github.io/tafengtravel/index/css/elementUI.css" rel="stylesheet" />
<link href="https://tafengtravel.github.io/tafengtravel/index/css/common.css" rel="stylesheet" />
<link href="https://tafengtravel.github.io/tafengtravel/index/css/swiper.min.css" rel="stylesheet" />

<link href="https://tafengtravel.github.io/tafengtravel/index/css/book.css" rel="stylesheet" />




<!--自家檔案-->

<link rel="icon" href="https://tafengtravel.github.io/tafengtravel/index1/tafenglogo6.ico" type="image/x-icon" />
<link rel="shortcut icon" href="https://tafengtravel.github.io/tafengtravel/index1/tafenglogo6.ico" type="image/x-icon" />

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-firestore.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->


<!-- axios -->

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyC1DlPU6BqCFXzWLBZ_6Y90KNLwYzfei3c",
        authDomain: "tafengtravel-web.firebaseapp.com",
        projectId: "tafengtravel-web",
        storageBucket: "tafengtravel-web.appspot.com",
        messagingSenderId: "971660802735",
        appId: "1:971660802735:web:af7e22d11fe81ca63ab25a"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>


<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>



<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143702269-1"></script>

<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-143702269-1', {
'linker': {
    'domains': ['tafengtravel.github.io', 'tafeng66.com.tw']
}
});
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '708390289347362');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=708390289347362&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Facebook Event -->


<!-- GA Event -->
<script>
window.addEventListener('load', function(event) {
document.querySelectorAll("[href^='http://line.me']").forEach(function(item){
    item.addEventListener('click', function(event){
        gtag("event", "點擊", {event_category: "line客戶轉換"});
    })
})
document.querySelectorAll("[href^='https://line.me']").forEach(function(item){
    item.addEventListener('click', function(event){
        gtag("event", "點擊", {event_category: "line客戶轉換"});
    })
})
})  
</script>

<style>
@media (min-width: 539px){
    .image-margin {
        margin-bottom: -5px;
    }.text-margin{
        padding-left: 15px;
    }.image-fit{
        width:280px;
    }
    .back{
        background-image: url("lunar.jpg");
    }
    .slogan_title{
        font-size: 40px;
        font-weight: bold;
    }
    .slogan_sub_title{
        font-size: 25px;
        font-weight: bold;
    }

}
@media (max-width: 539px) {
    .table-sm td, .table-sm th{
    padding: 1px;
    } 
    .image-fit{
        width:100%;
    }
    .back{
        background-image: url("lunar1.jpg");
        background-size:cover;
    }
    .slogan_title{
        font-size: 25px;
        font-weight: bold;
    }
    .slogan_sub_title{
        font-size: 15px;
        font-weight: bold;
    }
}
.font{
    white-space: pre-wrap;
}

.el-card{
    margin-bottom:30px; 
    min-height: 350px;
}
.el-collapse-item__header{
    background-color:#F0F0F0;
}
.el-collapse-item__wrap{
    background-color:#F0F0F0;
}
.el-tabs__item {
    padding: 0 20px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 18px;
    color: #303133;
    position: relative;
    font-weight: bold;
}
.backPng1{
    background-image: url("back.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center
}
.backPng2{
    background-image: url("back1.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center
}
.backPng3{
    background-image: url("back2.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center
}
.el-table {
    font-size: 16px;
    color: #606266;
    font-family: Microsoft JhengHei;
    font-weight: bold;
}
.backgroud{
    /* background-image: url("https://www.colatour.com.tw/webDM/taiwan/theme/minitwtrip/style/images/all_bk.jpg"); */
    background-color: #ffefd8;
}
.el-tabs__nav {
    background-color: white;
}
</style>
  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>農曆春節旅遊｜大豐旅行社</title>   	

<meta name="description" content="精選農曆春節旅遊，一至三日遊，北中南出發，8人小團制即可成行">
<meta name="keywords" content=""> 
<meta http-equiv="expires" content="0">
<meta http-equiv="cache-control" content="no-cache">  
<meta http-equiv="pragma" content="no-cache">
<meta name="format-detection" content="telephone=no">



</head>
<body id="page_body" class="green-page">

<div class="include" file="https://tafengtravel.github.io/tafengtravel/index/top"></div>

<div id="pnl_wrapper" class="wrapper homepage green-page">
    <div id="app"> 

        <div class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24" style="background-color:#ffefd8;">
            <el-row :gutter="20" class="back">
                <br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br>
            </el-row>
        </div>
        
        <div class ="el-col-24 backgroud" style="margin-top: -20px;background-color:#ffefd8;">

            <div class ="el-col el-col-24 el-col-xs-22 el-col-xs-offset-1 el-col-sm-20 el-col-sm-offset-2 el-col-md-18 el-col-md-offset-3 el-col-lg-16 el-col-lg-offset-4">
                <el-row></el-row>
                <div v-for="(item,index) in island">
                    <el-row>
                    <a :href="item.link">

                        <el-col class ="el-col el-col-xs-20 el-col-xs-offset-1 el-col-sm-14 el-col-sm-offset-1 el-col-md-14 el-col-md-offset-1 el-col-lg-14 el-col-lg-offset-1" style="margin-top: 10px;" v-if="(index%2)===0 && isShowSmall">
                        
                            <span class="title" ><font color="#2c2b2b" style="font-family:Noto Serif TC">{{item.location}}</font></span>
                            <el-row></el-row>
                            <span class="font" ><font color="#2c2b2b" style="font-family:Noto Serif TC;letter-spacing: 0.2em;">{{item.detail}}</font></span>

                        </el-col>

                        <el-col class ="el-col el-col-xs-22 el-col-xs-offset-1 el-col-sm-8 el-col-md-8 el-col-lg-7">
                        
                            <el-image style="width:100% ;border-radius: 20px;" :src="item.imageUrl":fit="fits">

                            </el-image>

                        </el-col>


                        <el-col class ="el-col el-col-xs-20 el-col-xs-offset-1 el-col-sm-14 el-col-sm-offset-1 el-col-md-14 el-col-md-offset-1 el-col-lg-14 el-col-lg-offset-1" style="margin-top: 10px;" v-if="(index%2)!=0 || isShowSmall == false ">
                        
                            <span class="title" ><font color="#2c2b2b" style="font-family:Noto Serif TC">{{item.location}}</font></span>
                            <el-row></el-row>
                            <span class="font" ><font color="#2c2b2b" style="font-family:Noto Serif TC;letter-spacing: 0.2em;">{{item.detail}}</font></span>

                        </el-col>
                    </a>
                </el-row>
                </div>
            </div>

            <div class ="el-col el-col-24 el-col-xs-22 el-col-xs-offset-1 el-col-sm-20 el-col-sm-offset-2 el-col-md-16 el-col-md-offset-4 el-col-lg-12 el-col-lg-offset-6">
                
                
                <!-- <el-col class ="el-col el-col-xs-24 el-col-sm-24 el-col-md-14 el-col-lg-14 " style="margin-top: 10px;">
                
                    <span class="title" ><font color="#2c2b2b">澎 湖</font></span>
                    <el-row></el-row>
                    <span class="font" ><font color="#2c2b2b">澎湖群島遍布玄武岩地質景觀，大自然鬼斧神工的多樣雕琢，令地質學者觀後為之驚嘆，讚譽為「上帝的石雕公園」。清澈的澎湖灣以及澎湖冬天的風，更使澎湖成為國際風帆船選手年度巡迴必經之地，比美加勒比海與西班牙南部海域。春夏花火節火樹銀花綻放熱情和浪漫，秋冬菊島海鮮節的生鮮美饌品嚐澎湖海洋的頂級美味，碧海藍天與柔白細緻沙灘的雙重享受，各式各樣的沙灘水上遊樂設施，讓你盡情的享受水上世界，還有歎為觀止的海洋生態，成串的美景肯定會贏得您連聲的讚嘆！</font></span>

                </el-col>

                <el-col class ="el-col el-col-xs-24 el-col-sm-24 el-col-md-8 el-col-md-offset-1 el-col-lg-8 el-col-lg-offset-1">
                
                    <el-image style="width:100% ;border-radius: 15px;" src="https://tafengtravel.github.io/tafengtravel/index/domestic_island/penghu.jpg":fit="fits">

                    </el-image>

                </el-col> -->

                
                <el-row></el-row>
                <el-tabs v-model="activeName" type="card" stretch >
                    <el-tab-pane label="一日遊" name="one" class="font">

                        <el-row :gutter="20" class="el-col-24 slogan_title backPng1" style="text-align: center;color:white ; height: 62px; padding: 15px 0px 0px 5px;" >北部出發</el-row>
                
                        <template>
                            <el-table
                            :data="oneNorth"
                            style="width: 100%"
                            :show-header='false'
                            font-size="2px"
                            >
                            <el-table-column prop="people" label="成形" width="90%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <el-tag size="medium">{{scope.row.amount}}人成行</el-tag>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="name" label="團名" >
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            {{ scope.row.name }}&emsp;<font color="red" style="font-size: 13px;">{{scope.row.other}}</font>
                                        </div>                            
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="price" label="金額" width="110%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <font color="#ff5d5d" style="font-family: verdana,'微軟正黑體';">每人${{ scope.row.price }}</font>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            </el-table>
                        </template>

                        <el-row></el-row>

                        <el-row :gutter="20" class="el-col-24 slogan_title backPng2" style="text-align: center;color:white ; height: 62px; padding: 15px 0px 0px 5px;" >中部出發</el-row>
                
                        <template>
                            <el-table
                            :data="oneCentral"
                            style="width: 100%"
                            :show-header='false'
                            font-size="2px"
                            >
                            <el-table-column prop="people" label="成形" width="90%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <el-tag size="medium">{{scope.row.amount}}人成行</el-tag>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="name" label="團名" >
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            {{ scope.row.name }}&emsp;<font color="red" style="font-size: 13px;">{{scope.row.other}}</font>
                                        </div>                            
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="price" label="金額" width="110%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <font color="#ff5d5d" style="font-family: verdana,'微軟正黑體';">每人${{ scope.row.price }}</font>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            </el-table>
                        </template>

                        <el-row></el-row>

                        <el-row :gutter="20" class="el-col-24 slogan_title backPng3" style="text-align: center;color:white ; height: 62px; padding: 15px 0px 0px 5px;" >南部出發</el-row>
                
                        <template>
                            <el-table
                            :data="oneSouth"
                            style="width: 100%"
                            :show-header='false'
                            font-size="2px"
                            >
                            <el-table-column prop="people" label="成形" width="90%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <el-tag size="medium">{{scope.row.amount}}人成行</el-tag>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="name" label="團名" >
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            {{ scope.row.name }}&emsp;<font color="red" style="font-size: 13px;">{{scope.row.other}}</font>
                                        </div>                            
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="price" label="金額" width="110%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <font color="#ff5d5d" style="font-family: verdana,'微軟正黑體';">每人${{ scope.row.price }}</font>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            </el-table>
                        </template>

                    </el-tab-pane>
                    <el-tab-pane label="二日遊" name="two" class="font">

                        <el-row :gutter="20" class="el-col-24 slogan_title backPng1" style="text-align: center;color:white ; height: 62px; padding: 15px 0px 0px 5px;" >北部出發</el-row>
                
                        <template>
                            <el-table
                            :data="twoNorth"
                            style="width: 100%"
                            :show-header='false'
                            font-size="2px"
                            >
                            <el-table-column prop="people" label="成形" width="90%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <el-tag size="medium">8人成行</el-tag>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="name" label="團名" >
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            {{ scope.row.name }}&emsp;<font color="red" style="font-size: 13px;">{{scope.row.other}}</font>
                                        </div>                            
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="price" label="金額" width="110%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <font color="#ff5d5d" style="font-family: verdana,'微軟正黑體';">每人${{ scope.row.price }}</font>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            </el-table>
                        </template>

                        <el-row></el-row>

                        <el-row :gutter="20" class="el-col-24 slogan_title backPng2" style="text-align: center;color:white ; height: 62px; padding: 15px 0px 0px 5px;" >中部出發</el-row>
                
                        <template>
                            <el-table
                            :data="twoCentral"
                            style="width: 100%"
                            :show-header='false'
                            font-size="2px"
                            >
                            <el-table-column prop="people" label="成形" width="90%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <el-tag size="medium">8人成行</el-tag>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="name" label="團名" >
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            {{ scope.row.name }}&emsp;<font color="red" style="font-size: 13px;">{{scope.row.other}}</font>
                                        </div>                            
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="price" label="金額" width="110%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <font color="#ff5d5d" style="font-family: verdana,'微軟正黑體';">每人${{ scope.row.price }}</font>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            </el-table>
                        </template>

                        <el-row></el-row>

                        <el-row :gutter="20" class="el-col-24 slogan_title backPng3" style="text-align: center;color:white ; height: 62px; padding: 15px 0px 0px 5px;" >南部出發</el-row>
                
                        <template>
                            <el-table
                            :data="twoSouth"
                            style="width: 100%"
                            :show-header='false'
                            font-size="2px"
                            >
                            <el-table-column prop="people" label="成形" width="90%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <el-tag size="medium">8人成行</el-tag>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="name" label="團名" >
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            {{ scope.row.name }}&emsp;<font color="red" style="font-size: 13px;">{{scope.row.other}}</font>
                                        </div>                            
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="price" label="金額" width="110%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <font color="#ff5d5d" style="font-family: verdana,'微軟正黑體';">每人${{ scope.row.price }}</font>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            </el-table>
                        </template>

                    </el-tab-pane>
                    <el-tab-pane label="三日遊" name="three" class="font">

                        <el-row :gutter="20" class="el-col-24 slogan_title backPng1" style="text-align: center;color:white ; height: 62px; padding: 15px 0px 0px 5px;" >北部出發</el-row>
                
                        <template>
                            <el-table
                            :data="threeNorth"
                            style="width: 100%"
                            :show-header='false'
                            font-size="2px"
                            >
                            <el-table-column prop="people" label="成形" width="90%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <el-tag size="medium">8人成行</el-tag>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="name" label="團名" >
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            {{ scope.row.name }}&emsp;<font color="red" style="font-size: 13px;">{{scope.row.other}}</font>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="price" label="金額" width="110%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <font color="#ff5d5d" style="font-family: verdana,'微軟正黑體';">每人${{ scope.row.price }}</font>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            </el-table>
                        </template>

                        <el-row></el-row>

                        <el-row :gutter="20" class="el-col-24 slogan_title backPng2" style="text-align: center;color:white ; height: 62px; padding: 15px 0px 0px 5px;" >中部出發</el-row>
                
                        <template>
                            <el-table
                            :data="threeCentral"
                            style="width: 100%"
                            :show-header='false'
                            font-size="2px"
                            >
                            <el-table-column prop="people" label="成形" width="90%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <el-tag size="medium">8人成行</el-tag>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="name" label="團名" >
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            {{ scope.row.name }}&emsp;<font color="red" style="font-size: 13px;">{{scope.row.other}}</font>
                                        </div>                            
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="price" label="金額" width="110%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <font color="#ff5d5d" style="font-family: verdana,'微軟正黑體';">每人${{ scope.row.price }}</font>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            </el-table>
                        </template>

                        <el-row></el-row>

                        <el-row :gutter="20" class="el-col-24 slogan_title backPng3" style="text-align: center;color:white ; height: 62px; padding: 15px 0px 0px 5px;" >南部出發</el-row>
                
                        <template>
                            <el-table
                            :data="threeSouth"
                            style="width: 100%"
                            :show-header='false'
                            font-size="2px"
                            >
                            <el-table-column prop="people" label="成行" width="90%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <el-tag size="medium">8人成行</el-tag>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="name" label="團名" >
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            {{ scope.row.name }}&emsp;<font color="red" style="font-size: 13px;">{{scope.row.other}}</font>
                                        </div>                            
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="price" label="金額" width="110%">
                                <template slot-scope="scope">
                                    <a :href="scope.row.link">
                                        <div slot="reference" class="name-wrapper">
                                            <font color="#ff5d5d" style="font-family: verdana,'微軟正黑體';">每人${{ scope.row.price }}</font>
                                        </div>
                                    </a>
                                </template>
                            </el-table-column>
                            </el-table>
                        </template>
                        
                    </el-tab-pane>
                </el-tabs>

                <el-row></el-row>

            </div>
            
        </div>

        <el-backtop :bottom="100"></el-backtop>
        
    </div>
</div>




<div class="text-center">

    <br>
    <div class="include" file="https://tafengtravel.github.io/tafengtravel/index/footer"></div>

</div> 

  



<a class="go-to-top" id="goTop" href="#"><i class="fa fa-caret-up"></i>top</a>

    
</body>

<script type="text/javascript">
//使用jQuery的load方法
$(".include").each(function(){
    if(!!$(this).attr("file")) {
        var $includeObj = $(this);
        $(this).load($(this).attr("file"), function(html){
            $includeObj.after(html).remove();    //載入的檔案內容寫入到當前標籤後面並移除當前標籤
        })
    }
});
</script>

<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui@2.15.0/lib/index.js"></script>


<script>

    var Main = {
        data() {
            return {
                isShowSmall:true,
                fullWidth: 0,
                fits:'cover',
                oneNorth: [{
                    name: '山上人家１日遊',
                    price: '1600',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=42021&promo=m&depID=215&rp_dt_id=',
                    amount:'8',
                    // other: '台北出發',
                }, {
                    amount:'8',
                    name: '草坪頭【櫻花季】１日遊',
                    price: '1150',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=41504&promo=m&depID=215&rp_dt_id=',

                }, {
                    amount:'8',
                    name: '司馬庫斯~上帝的部落１日遊',
                    price: '1580',
                    link: 'https://tafengtravel.github.io/tafengtravel/index/domestic/smangus.html',

                }, {
                    amount:'8',
                    name: '風櫃斗【踏雪尋梅】１日遊',
                    price: '1250',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=41546&promo=m&depID=215&rp_dt_id=',

                }],
                oneCentral: [{
                    amount:'8',
                    name: '司馬庫斯~上帝的部落１日遊',
                    price: '1580',
                    link: 'https://tafengtravel.github.io/tafengtravel/index/domestic/smangus.html',
                    other: '2/2出發',

                }, {
                    amount:'8',
                    name: '草坪頭【櫻花季】１日遊',
                    price: '1150',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=41504&promo=m&depID=215&rp_dt_id=',

                }, {
                    amount:'8',
                    name: '風櫃斗【踏雪尋梅】１日遊',
                    price: '1250',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=41546&promo=m&depID=215&rp_dt_id=',

                }],
                oneSouth: [
                {
                    amount:'8',
                    name: '草坪頭【櫻花季】１日遊',
                    price: '1150',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=41503&promo=m&depID=215&rp_dt_id=',

                },  {
                    amount:'8',
                    name: '風櫃斗【踏雪尋梅】１日遊  ',
                    price: '1250',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=41545&promo=m&depID=215&rp_dt_id=',

                }
                ], 

                twoNorth: [{
                    name: '惠蓀林場＋炭雕博物館＋安平樹屋＋台江游湖２日遊',
                    price: '4500',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=36145&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '阿里山＋故宮南院＋秋紅谷廣場＋宮原眼科２日遊',
                    price: '3700',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=34192&promo=m&depID=215&rp_dt_id=',
                    other: '2/2 即將成團'
                }, {
                    name: '小琉球＋駁二藝術特區＋台江游湖２日遊',
                    price: '5000',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=38350&promo=m&depID=215&rp_dt_id='
                }],
                twoCentral: [{
                    name: '石碇千島湖＋八卦茶園＋九份老街２日遊',
                    price: '4200',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=41198&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '綠世界農場＋深坑豆腐街＋十分瀑布２日遊',
                    price: '4400',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=41237&promo=m&depID=215&rp_dt_id=',
                    // other: '即將成團'
                }, {
                    name: '小琉球＋駁二藝術特區＋台江游湖２日遊',
                    price: '5000',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=38350&promo=m&depID=215&rp_dt_id='
                }],
                twoSouth: [{
                    name: '鹿港古鎮＋田尾花園＋清境天空步道２日遊',
                    price: '3600',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=36146&promo=m&depID=215&rp_dt_id=',
                    // other: '即將成團'
                }, {
                    name: '石碇千島湖＋八卦茶園＋九份老街２日遊',
                    price: '4200',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=41198&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '十分瀑布＋平溪＋勝興車站（鐵道自行車）２日遊',
                    price: '4200',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=36141&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '綠世界農場＋深坑豆腐街＋十分瀑布２日遊',
                    price: '4400',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=41237&promo=m&depID=215&rp_dt_id='
                }],
                //3日
                threeNorth: [{
                    name: '義大世界＋旗津老街＋駁二藝術特區＋鵝鑾鼻燈塔３日遊',
                    price: '6500',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=20109&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '杉林溪＋小半天＋十鼓文化村＋澄清湖＋佛陀紀念館３日遊',
                    price: '6600',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=29189&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '南台灣《全新景點》深度３日遊',
                    price: '7100',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=38335&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '杉林溪＋小半天＋十鼓文化村＋澄清湖＋佛陀紀念館３日遊',
                    price: '6600',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=29189&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '阿里山＋奇美博物館＋安平老街＋美好里３D彩繪村３日遊',
                    price: '5800',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=31012&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '達娜伊谷＋天空步道＋后豐鐵馬知性3日遊',
                    price: '5900',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=37138&promo=m&depID=215&rp_dt_id=',
                    other:'2/1出發 僅剩4位'
                }],
                threeCentral: [{
                    name: '杉林溪＋小半天＋十鼓文化村＋澄清湖＋佛陀紀念館３日遊',
                    price: '6600',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=29189&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '義大世界＋旗津老街＋駁二藝術特區＋鵝鑾鼻燈塔３日遊',
                    price: '6500',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=20109&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '南台灣《全新景點》深度３日遊',
                    price: '7100',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=38335&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '千島湖＋平溪老街＋烏來＋皇后鎮森林３日遊',
                    price: '6400',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=30996&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '阿里山＋奇美博物館＋安平老街＋美好里３D彩繪村３日遊',
                    price: '5800',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=31012&promo=m&depID=215&rp_dt_id='
                }],
                threeSouth: [{
                    name: '九份＋木柵＋忘憂森林＋妖怪村＋青蛙石天空步道３日遊',
                    price: '5800',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=29014&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '十分瀑布＋平溪老街＋傳藝中心＋蘭陽博物館＋落羽松森林３日遊',
                    price: '6200',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=35027&promo=m&depID=215&rp_dt_id='
                }, {
                    name: '千島湖＋平溪老街＋烏來＋皇后鎮森林３日遊',
                    price: '6400',
                    link: 'http://www.tafeng66.com.tw/webobj/travelteam/showselect.asp?Product_id=30996&promo=m&depID=215&rp_dt_id='
                }],
                activeName: 'one',
                island:[{
                    imageUrl:"https://tafengtravel.github.io/tafengtravel/index/image/holiday_penghu.webp",
                    location:"澎 湖",
                    detail:"最閃耀的明珠、最壯觀的玄武岩",
                    link:'https://tafengtravel.github.io/tafengtravel/index/domestic_island/penghu/tafeng_penghu.html'
                },{
                    imageUrl:"https://tafengtravel.github.io/tafengtravel/index/image/holiday_kinmen.webp",
                    location:"金 門",
                    detail:"戰地風雲，鋼刀、貢糖、高粱酒",
                    link:'https://tafengtravel.github.io/tafengtravel/index/domestic_island/kinmen/tafeng_kinmen.html'
                },{
                    imageUrl:"https://tafengtravel.github.io/tafengtravel/index/image/holiday_matsu.webp",
                    location:"馬 祖",
                    detail:"戰地風雲、海防據點、坑道、人生必看藍眼淚",
                    link:'https://tafengtravel.github.io/tafengtravel/index/domestic_island/matsu/tafeng_matsu.html'
                },{
                    imageUrl:"https://tafengtravel.github.io/tafengtravel/index/image/holiday_green.webp",
                    location:"綠 島",
                    detail:"火燒島、自然風情、監獄、潛水天堂",
                    link:'https://tafengtravel.github.io/tafengtravel/index/domestic_island/green/tafeng_green.html'
                },{
                    imageUrl:"https://tafengtravel.github.io/tafengtravel/index/image/holiday_lanyu.webp",
                    location:"蘭 嶼",
                    detail:"飛魚、拼板舟、地下屋、自然風情、潛水天堂",
                    link:'https://tafengtravel.github.io/tafengtravel/index/domestic_island/lanyu/tafeng_lanyu.html'
                }]
            };
                
    
            },methods: {
            },mounted(){

                const vm = this;
                vm.fullWidth = window.innerWidth;
                if( vm.fullWidth < '750'){
                    this.isShowSmall = false
                    
                }else{
                    this.isShowSmall = true
                }

                window.onresize = () => {
                    vm.fullWidth = window.innerWidth;
                    if( vm.fullWidth < '750'){
                        this.isShowSmall = false
                        
                    }else{
                        this.isShowSmall = true
                    }

                };

                this.oneNorth = this.oneNorth.sort((a, b) => (a.price - b.price));
                this.oneSouth = this.oneSouth.sort((a, b) => (a.price - b.price));
                this.oneCentral = this.oneCentral.sort((a, b) => (a.price - b.price));
                this.twoNorth = this.twoNorth.sort((a, b) => (a.price - b.price));
                this.twoSouth = this.twoSouth.sort((a, b) => (a.price - b.price));
                this.twoCentral = this.twoCentral.sort((a, b) => (a.price - b.price));
                this.threeNorth = this.threeNorth.sort((a, b) => (a.price - b.price));
                this.threeSouth = this.threeSouth.sort((a, b) => (a.price - b.price));
                this.threeCentral = this.threeCentral.sort((a, b) => (a.price - b.price));
            } 
        
     
    };
    let Today=new Date();
    // console.log(Today.getFullYear()+'-'+ (Today.getMonth()+1) +'-'+ Today.getDate())

    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')


</script>

</html>
