

<!DOCTYPE html>
<head>
 
<link rel="canonical" href='https://tafengtravel.github.io/tafengtravel/index/product/nantou/1.html'>

<link rel='stylesheet' href='https://tafengtravel.github.io/tafengtravel/index/css/smart.css' type='text/css'>
<link href="https://tafengtravel.github.io/tafengtravel/index/index.css" rel="stylesheet" >

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">


<link href='https://tafengtravel.github.io/tafengtravel/index/sm-css/sm-core-css.css' rel='stylesheet' type='text/css' />
<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
<link href='https://tafengtravel.github.io/tafengtravel/index/sm-css/sm-mint/sm-mint.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">

<script src="https://tafengtravel.github.io/tafengtravel/index/js/jquery.min.js.js"></script>     
<script src="https://tafengtravel.github.io/tafengtravel/index/js/slick.js"></script>
<script src="https://tafengtravel.github.io/tafengtravel/index/js/aos.js"></script>
<script src="https://tafengtravel.github.io/tafengtravel/index/js/smart-app-banner.js"></script>    
<script src="https://tafengtravel.github.io/tafengtravel/index/js/mobile-detect.js"></script>

<script src="https://tafengtravel.github.io/tafengtravel/index/js/functions.js"></script>
<script src="https://tafengtravel.github.io/tafengtravel/index/js/controller.js"></script>
<script src="https://tafengtravel.github.io/tafengtravel/index/js/swiper.jquery.min.js"></script>

<script src="https://tafengtravel.github.io/tafengtravel/index/js/jquery.smartmenus.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<link href="https://tafengtravel.github.io/tafengtravel/index/css/elementUI.css" rel="stylesheet" />
<link href="https://tafengtravel.github.io/tafengtravel/index/css/common.css" rel="stylesheet" />
<link href="https://tafengtravel.github.io/tafengtravel/index/css/book.css" rel="stylesheet" />




<!--自家檔案-->

<link rel="icon" href="https://tafengtravel.github.io/tafengtravel/index1/tafenglogo6.ico" type="image/x-icon" />
<link rel="shortcut icon" href="https://tafengtravel.github.io/tafengtravel/index1/tafenglogo6.ico" type="image/x-icon" />


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143702269-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-143702269-1', {
'linker': {
    'domains': ['tafengtravel.github.io', 'tafeng66.com.tw']
}
});
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '708390289347362');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=708390289347362&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Facebook Event -->


<!-- GA Event -->
<script>
window.addEventListener('load', function(event) {
document.querySelectorAll("[href^='http://line.me']").forEach(function(item){
    item.addEventListener('click', function(event){
        gtag("event", "點擊", {event_category: "line客戶轉換"});
    })
})
document.querySelectorAll("[href^='https://line.me']").forEach(function(item){
    item.addEventListener('click', function(event){
        gtag("event", "點擊", {event_category: "line客戶轉換"});
    })
})
})  
</script>

<style>
@media (min-width: 768px){
    .sm-mint a, .sm-mint a:hover, .sm-mint a:focus, .sm-mint a:active, .sm-mint a.highlighted {
    padding: 19px 20px;
    border-radius: 4px 4px 0 0;
    }
    .sm-mint a.has-submenu {
    padding-right: 34px;
    }

}
@media (max-width: 768px) {
    .table-sm td, .table-sm th{
    padding: 1px;
    } 
}

</style>

   
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>大豐旅行社｜長榮一日空服員體驗營｜國內外旅遊專家</title>   	

<meta name="description" content="長榮,航空體驗營,空服,空服員體驗營,一日空服員體驗營,長榮一日空服員體驗營,長榮航空夢想起飛,大豐旅行社">
<meta name="keywords" content="長榮,航空體驗營,空服,空服員體驗營,一日空服員體驗營,長榮一日空服員體驗營,長榮航空夢想起飛,大豐旅行社" /> 
<meta http-equiv="expires" content="0">
<meta http-equiv="cache-control" content="no-cache">  
<meta http-equiv="pragma" content="no-cache">
<meta name="format-detection" content="telephone=no">

<title>

</title>


</head>
<body id="page_body" class="green-page">

<div class="include" file="https://tafengtravel.github.io/tafengtravel/index/top"></div>
    
<div id="pnl_wrapper" class="wrapper homepage green-page">
 



<div id="app" class ="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-24 el-col-sm-offset-0 el-col-lg-18 el-col-lg-offset-3"> 
            
    <div class="home-banner">
    
        <a href="#" ><img class="d-none d-md-block" src="image/cabin_cover_1.jpg" alt="#" ><img class="d-block d-md-none" src="image/cabin_cover_1.jpg" alt="#" ></a>
                
    </div>

    <br>
    <div class="el-row">
        <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-24 el-col-sm-offset-0 el-col-lg-16 el-col-lg-offset-0" style="padding-left:12px;padding-right:12px;">
            <el-row>
                <font class ="title" id ="title_1"></font>
            </el-row>
            <el-row>
                <font class ="sub_title">行程特色</font>
            </el-row>
            <el-row>
                <font class ="font"><span id ="features"></span></font>
            </el-row>
            
        </div>

        <div class ="hidden-md-and-down border-l border-grey-light el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-24 el-col-sm-offset-0 el-col-lg-8 el-col-lg-offset-0" style="padding-left:12px;padding-right:12px;">
            <el-row>
                <span class= "el-col-3">
                    <font class ="font"><i class="el-icon-date"></i></font>
                </span>            
                <span class= "el-col-21">
                    <font class ="font">可預訂日期：<span id ="sub_title_1"></span></font>
                </span> 
            </el-row>
            <el-row>
                <span class= "el-col-3">
                    <font class ="font"><i class="el-icon-time"></i></font>
                </span>           
                <span class= "el-col-21">
                    <font class ="font">出發時間：<span id ="sub_title_2"></span></font>
                </span>
            </el-row>
            <el-row>
                <span class= "el-col-3">
                    <font class ="font"><i class="el-icon-s-custom"></i></font>
                </span>            
                <span class= "el-col-21">
                    <font class ="font">最少預定數：<span id ="sub_title_3"></span>人</font>
                </span>   
            </el-row>
        </div>

    </div>

    <el-divider></el-divider>

    <div class="el-row">

        <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-24 el-col-sm-offset-0 el-col-lg-16 el-col-lg-offset-0" style="padding-left:12px;padding-right:12px;">
            <el-divider></el-divider>
            <el-row>
                <font class ="sub_title" id ="choose_link">方案選擇</font>
            </el-row>

            <el-row>
                <font class ="font">行程日期</font>
                <div class="block">
                    <el-date-picker
                    v-model="datevalue1"
                    type="date"
                    placeholder="選擇日期"
                    id = 'dep_date'
                    :picker-options="pickerOptions"
                    
                    >
                    </el-date-picker>
                </div>
            </el-row>

            <!--1-->

            <el-row>

                <el-card class="box-card">
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-20 el-col-sm-offset-0" id="box-card" style="padding-left:8px;padding-right:8px;">
                        <font class ="font"><span id = 'itinerary1'>母親節早鳥優惠 - 第二人 800 元 ! 一日空服員體驗營</span></font><br>
                        <font class ="mini_font"><i class="el-icon-time"></i><span>&emsp;行程總長：7 小時 - 優惠只到5/7！</span></font><br>

                    </div>
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-4 el-col-sm-offset-0" >
                        <el-button type="primary is-plain" style="width:100% ;margin:0px 0px 15px 0px" id="choice" onclick="choose(1)">選擇</el-button>
                    </div>  
                </el-card>            

                <el-card class="box-card box-detail-hide-card" id ="choice_click_1">
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-20 el-col-sm-offset-0" id="box-card" style="padding-left:8px;padding-right:8px;">
                        <el-row>
                            <template>
                                <div >
                                    <el-radio id='radio1_1' v-model="radio1" label="1" border onclick='per_price()' onchange="per_price()">一日空服員體驗營</el-radio>
                                </div>
                            </template>
                        </el-row>

                        <el-row>
                            <font class ="font"><span>場次：</span></font>
                            <template>
                                <el-select v-model="value1" placeholder="請選擇場次" id='choice_time1'>
                                <el-option onclick='per_price()' onchange="per_price()"
                                    v-for="item in options1"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value"
                                    >
                                </el-option>
                                </el-select>
                            </template>
                        </el-row>

                        <el-row>
                            <font class ="font"><span>數量：</span></font> 
                            <template>
                                <el-input-number id="quantity1" v-model="quantity1" :min="2" :max="4" :step="2" onclick="per_price()" onchange="per_price()"></el-input-number>
                            </template>
                        </el-row>

                        <el-row>
                                <font class ="font"><span>費用：$<span id = per_price name = per_price></span></span></font>                             
                        </el-row>                
                        
                    </div>
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-4 el-col-sm-offset-0" >
                        <el-button type="primary is-plain" style="width:100% ;margin:0px 0px 15px 0px" onclick = 'buy(1)'>立即訂購</el-button>
                    </div>  
                </el-card>

            </el-row>

            <!--2-->

            <el-row>

                <el-card class="box-card">
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-20 el-col-sm-offset-0" id="box-card" style="padding-left:8px;padding-right:8px;">
                        <font class ="font"><span id = 'itinerary2'>一日空服員體驗營</span></font><br>
                        <font class ="mini_font"><i class="el-icon-time"></i><span>&emsp;行程總長：7 小時</span></font><br>

                    </div>
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-4 el-col-sm-offset-0" >
                        <el-button type="primary is-plain" style="width:100% ;margin:0px 0px 15px 0px" id="choice" onclick="choose(2)">選擇</el-button>
                    </div>  
                </el-card>            

                <el-card class="box-card box-detail-hide-card" id ="choice_click_2">
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-20 el-col-sm-offset-0" id="box-card" style="padding-left:8px;padding-right:8px;">
                        <el-row>
                            <template>
                                <div >
                                    <el-radio id='radio2_1' v-model="radio1" label="1" border onclick='per_price()' onchange="per_price()">一日空服員體驗營</el-radio>
                                </div>
                            </template>
                        </el-row>

                        <el-row>
                            <font class ="font"><span>場次：</span></font>
                            <template>
                                <el-select v-model="value1" placeholder="請選擇場次" id='choice_time2'>
                                <el-option onclick='per_price()' onchange="per_price()"
                                    v-for="item in options1"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value"
                                    >
                                </el-option>
                                </el-select>
                            </template>
                        </el-row>

                        <el-row>
                            <font class ="font"><span>數量：</span></font> 
                            <template>
                                <el-input-number id="quantity2" v-model="quantity2" :min="1" :max="4" onclick="per_price()" onchange="per_price()"></el-input-number>
                            </template>
                        </el-row>

                        <el-row>
                                <font class ="font"><span>費用：$<span id = per_price name = per_price></span></span></font>                             
                        </el-row>                
                        
                    </div>
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-4 el-col-sm-offset-0" >
                        <el-button type="primary is-plain" style="width:100% ;margin:0px 0px 15px 0px" onclick = 'buy(2)'>立即訂購</el-button>
                    </div>  
                </el-card>

            </el-row>
     

            <el-divider></el-divider>
            <el-row>
                <font class ="sub_title">行程介紹</font>
            </el-row>

            <el-row>
                <font class ="font"><span id ="content"></span>
                    桃園南崁長榮航空集合 > 參觀航空安全教育中心 > 空服員各式訓練教學及演練 > 餐飲服務教學 > 拍紀念照 > 頒發證書<br><br>
                    09:00　參觀航空安全教育中心、教官自我介紹及今日課程流程<br>
                    09:30　美姿美儀、緊急用品介紹<br>
                    10:20　Safety Demo說明及演練<br>
                    11:00　機上餐飲服務教學<br>
                    12:10　午餐 (提供長榮豪華經濟艙機上餐)<br>
                    13:10　換上組員工作服、拍照<br>
                    13:50　艙門訓練器簡介、滅火訓練<br>
                    14:50　客艙緊急逃生訓練<br>
                    15:50　紀念照、頒發證書<br>
                    16:20　換裝，結束今日的體驗營<br><br>

                    費用：$5860/位<br>
                    5/7前報名享2人同行第2人$800！！

                </font> 
                            

            </el-row>

            <el-divider></el-divider>

            <el-row>
                <font class ="sub_title">活動照片</font>
            </el-row>

            <div class="el-row">
                <div class="el-col el-col-xl-16 el-col-lg-16 el-col-md-16 el-col-xs-24 el-col-sm-24 " >
                    <el-row>
                        <el-image v-for="url in url"
                                :key="url"
                                style="width: 100%"
                                :src="url"
                                :preview-src-list="srcList"
                                >
                        </el-image>
                    </el-row> 
                    <el-row>
                        <font class ="font">點擊即可查看更多</font>
                    </el-row>       
                </div>
            </div>
            
                    
            <el-divider></el-divider>
            <!--
            <el-row>
                <font class ="sub_title">行程說明</font>
            </el-row>
            <el-row>
                <font class ="font"><span id ="features"></span></font>
            </el-row>
            <el-divider></el-divider>
            -->         

            <el-row>
                <font class ="sub_title">集合地點</font>
            </el-row>
            <el-row>
                <font class ="font"><span id ="location"></span></font>
            </el-row>

            <el-divider></el-divider>
            <el-row>
                <font class ="sub_title">注意事項</font>
            </el-row>
            <el-row>
                <font class ="font"><span id ="features">
                    ＊最少出團人數 16 人，當參加人數未達上述規定的最少成團人數時，將取消旅遊行程，於出發日前 7 天發出取消旅遊的 Email 通知。<br>
                    ＊因應飛航訓練中心防疫措施，須全程配戴口罩。<br>
                    ＊當天報到時需填寫健康申明書，現場測量體溫，超過37.5度則無法進入，將全額退費。<br>
                    ＊進入長榮航空需持國民身份證或健保卡換通行證，請務必攜帶。<br>
                    ＊請於規定時間內準時集合，若集合不到，視同放棄，本公司不予退費。<br>
                </span></font>
            </el-row>

            <el-divider></el-divider>
            <el-row>
                <font class ="sub_title">取消規定</font>
            </el-row>
            <el-row>
                <font class ="font"><span id ="features">
                    ＊如您在體驗開始日前8-前1天提出需求，我們將收取50%的手續費。<br>
                    ＊如您在體驗開始當日提出需求，將無法退費。<br>                
                    ＊若取消需求是由在地嚮導提出，您將可獲得全額退款。<br>                
                    ＊若取消需求提出時，我們已為您繳交代辦之行政費用(如簽證費、其他無法由受理單位退回之手續費)將無法退回。</span></font>
            </el-row>
                        
        </div>

        
        <div class=" hidden-sm-and-down h-auto el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-24 el-col-sm-offset-0 el-col-md-8 el-col-md-offset-0 el-col-lg-8 el-col-lg-offset-0" >
            <div class = "position" id="position" style="position: sticky;top: 120px;">
                <el-card class="box-card" id="cart" style="width: 400px;">

                        <font class ="font"><span>最低售價</span></font>
                        <font class ="box_sub_title" style="margin-left: 150px;">$<span name='low_price'></span>起</font><br><br>
                        <font class ="mini_font"><span>訂購完成後須等待空位確認，專員會於1個工作天內回覆您預定結果，並將付款連結寄至您的信箱，訂單將於付款後正式成立。</span></font><br>
                        <a href="#choose_link"><el-button type="primary" style="width:100% ;margin-top: 6px;" onclick="choose(1)" >選擇方案</el-button></a><br>


                        
                    </div>
                </el-card>
            </div>


        </div>

        <div class='hidden-sm-up'>
            <div class="el-col el-col-xs-18 el-col-xs-offset-0 el-col-sm-18 el-col-sm-offset-0" style="padding-left:8px;padding-right:8px;">
                <font class ="font"><span>最低售價</span></font><br>
                <font class ="box_sub_title">$<span name='low_price'></span>起</font>
            </div>
            <div class="el-col el-col-xs-6 el-col-xs-offset-0 el-col-sm-6 el-col-sm-offset-0" >
                <a href="#choose_link"><el-button type="primary" style="width: 100%;margin: 6px 0px 6px -10px;" onclick="choose(1)">選擇方案</el-button></a>
            </div>  



        </div>



    </div> 

</div>

<div class="text-center">

    <div class="include" file="https://tafengtravel.github.io/tafengtravel/index/footer"></div>

</div> 

<style>



</style>




        
<a class="go-to-top" id="goTop" href="#"><i class="fa fa-caret-up"></i>top</a>

    
</body>

<script type="text/javascript">

//使用jQuery的load方法
$(".include").each(function(){
    if(!!$(this).attr("file")) {
        var $includeObj = $(this);
        $(this).load($(this).attr("file"), function(html){
            $includeObj.after(html).remove();    //載入的檔案內容寫入到當前標籤後面並移除當前標籤
        })
    }
});
</script>

<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui@2.15.0/lib/index.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>


<script>
    
    let type ;//品項內容
    let type2;//判斷 css disable
    let number ;
    let product_length = 2;
    let dateDep 
    let quantity

    document.getElementById("title_1").innerHTML='長榮航空夢想起飛 2.0｜一日空服員體驗營';
    document.getElementById("sub_title_1").innerHTML='隔週六一次';
    document.getElementById("sub_title_2").innerHTML='09:00-16:20';
    document.getElementById("sub_title_3").innerHTML='1';
    document.getElementById("features").innerHTML='帶您學習專業空服員知識，並且體驗一日空服員生活。由空服教官擔任活動講師，帶領您進入空服員課程如：美姿美儀、機上餐飲服務教學、滅火訓練艙訓練、緊急逃生訓練艙訓練、及各艙門訓練器簡介等。實現您的空服員夢想！<br><br>★空服員體驗課程，學習專業空服知識<br>★午餐帶您享用豪華經濟艙餐食<br>★課程結束後紀念拍照與頒發證書';
    document.getElementById("location").innerHTML='活動集合地點：長榮航空訓練中心';

    price_html = document.getElementsByName("per_price");

    low_price = document.getElementsByName("low_price");
    for (i = 0;i < low_price.length; i++) {
        low_price[i].innerHTML = '3344';
    }


    
    /*
    for(i=1;i<4;i++){
        document.getElementById("sub_title_"+i).innerHTML='20';
    }
    */    

    var Main = {
    data() {
        return {
            disabledDate:'',
            pickerOptions: {
                disabledDate(time) {
                    let date = ['2021-05-15','2021-05-29','2021-06-12','2021-06-26','2021-07-10','2021-07-24','2021-08-07','2021-08-21','2021-09-04','2021-09-18','2021-10-02','2021-10-16','2021-10-30','2021-11-13','2021-11-27','2021-12-11','2021-12-25']
                    let disableDateRange = []
                    let disableDateTrue = true

                    for(i=0;i<date.length;i++){
                        disableDateRange[i] = time.getTime() < new Date(date[i]).getTime()-24*60*60*1000 || time.getTime() > new Date(date[i]).getTime()
                    }
                    for(i=0;i<disableDateRange.length-1;i++){
                        disableDateTrue = disableDateRange[i]&&disableDateRange[i+1]&&disableDateTrue
                    }

                    return disableDateTrue||time.getTime() < new Date().getTime()-24*60*60*1000
                   
                }
            },
            datevalue1:  '',
            options1: [{
                value: '09:00-16:20',
                label: '09:00-16:20'  
                }],
            value1: '09:00-16:20',
            quantity1: 1,
            quantity2: 1,
            radio1: '1',
            url: [
            'image/cabin1.jpg',
            ],
            srcList: [
            'image/cabin1.jpg',
            'image/cabin2.jpg',
            'image/cabin3.jpg',
            'image/cabin4.jpg',
            ]
            
      
            };
 
        },methods: {
            
        }
        
     
    };
    let Today=new Date();
    console.log(Today.getFullYear()+'-'+ (Today.getMonth()+1) +'-'+ Today.getDate())

    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')

    document.onscroll = function() {
		var y = window.pageYOffset || document.documentElement.scrollTop;
		if (y > 900) {
            document.getElementById("position").style.position = "fixed";
            document.getElementById("cart").style.width = "400px";
		} else {
            document.getElementById("position").style.position = "sticky";
		}
	};

    function choose(type1){

        type = type1

        for(i=1;i<product_length+1;i++){

            if(i == type){
                document.getElementById("choice_click_"+i).style.display = "block";
            }else{
                document.getElementById("choice_click_"+i).style.display = "none";
            }
            
        }
        per_price()

    }

    function buy(type){

        let itinerary = document.getElementById('itinerary'+type).innerText

        type2 = document.getElementById('radio'+type+'_'+radio1_1.__vue__.value).innerText


        localStorage.setItem("dep_date", document.getElementById('dep_date').value);
        localStorage.setItem("itinerary",itinerary);
        localStorage.setItem("price",price_html[0].outerText);
        localStorage.setItem("quantity", quantity+'位');
        localStorage.setItem("time", document.getElementById('choice_time1').value);
        localStorage.setItem("type", type2);
        document.location.href='https://tafengtravel.github.io/tafengtravel/index/book/book.html';

    }

    function per_price(){

        //type = 1 兩小時//type = 2 三小時
        //number = 1 單人一板//number = 2 雙人一板
        let price1
   

        if(type == 1){
            price1 = 3344;
            price1=price1*quantity1.__vue__.value
            quantity = quantity1.__vue__.value
        }else if(type == 2){
            price1 = 5860
            price1=price1*quantity2.__vue__.value
            quantity = quantity2.__vue__.value
        }        
        
        price(price1)

        function price(price){
            for (i = 0;i < price_html.length; i++) {
                price_html[i].innerHTML = price;
            }
        }

    }
</script>

</html>
