<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>大豐後台管理系統</title>   	
  <meta name="description" content="大豐後台管理系統">
 
  <meta http-equiv="cache-control" content="no-cache">  
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta name="format-detection" content="telephone=no">

  <!-- <link rel="icon" href="dreamer.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="dreamer.ico" type="image/x-icon" /> -->


  
<link href='https://tafengtravel.github.io/tafengtravel/index/sm-css/sm-core-css.css' rel='stylesheet' type='text/css' />
<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
<link href='https://tafengtravel.github.io/tafengtravel/index/sm-css/sm-mint/sm-mint.css' rel='stylesheet' type='text/css' />
<link href='https://tafengtravel.github.io/tafengtravel/index/css/smart.css' rel='stylesheet' type='text/css' />

<script src="https://tafengtravel.github.io/tafengtravel/index/js/jquery.min.js.js"></script>
<script src="https://tafengtravel.github.io/tafengtravel/index/js/jquery.smartmenus.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<link href="https://tafengtravel.github.io/tafengtravel/index/css/elementUI.css" rel="stylesheet" />
<link href="https://tafengtravel.github.io/tafengtravel/index/css/common.css" rel="stylesheet" />
<link href="https://tafengtravel.github.io/tafengtravel/index/css/book.css" rel="stylesheet" />

<!-- vue+element ui -->
<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui@2.15.0/lib/index.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<link href="https://tafengtravel.github.io/tafengtravel/index/css/book.css" rel="stylesheet" />

<!-- axios -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>



</head>
<body>

   
   <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>

<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>

<style>
  .el-card{
		margin-bottom:20px; 
	}
</style>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyC1DlPU6BqCFXzWLBZ_6Y90KNLwYzfei3c",
    authDomain: "tafengtravel-web.firebaseapp.com",
    projectId: "tafengtravel-web",
    storageBucket: "tafengtravel-web.appspot.com",
    messagingSenderId: "971660802735",
    appId: "1:971660802735:web:af7e22d11fe81ca63ab25a"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>





<!-- <nav class="main-nav" role="navigation">

  
  <input id="main-menu-state" type="checkbox" />
  <label class="main-menu-btn" for="main-menu-state">
    <span class="main-menu-btn-icon"></span> 
  </label>

  <h2 class="nav-brand"><img src="dreamer.png"  width="132" height="50"  ></h2>

  
  <ul id="main-menu" class="sm sm-mint">
    <li><a href="home.html">首頁</a></li>
    <li><a href="#">球員資料</a>
      
    </li>
    <li><a href="#">戰績排行</a>
      
    </li>
    <li><a href="#">數據統計</a>
      
    </li>

  </ul>
</nav> -->

<div class="include" file="https://tafengtravel.github.io/tafengtravel/index5/top.html"></div>



<div id="app"> 
  <div class ="el-col el-col-24 el-col-xs-22 el-col-xs-offset-1 el-col-sm-22 el-col-sm-offset-1 el-col-lg-22 el-col-lg-offset-1"> 
    
    <el-row></el-row><el-row></el-row>
    <el-row :gutter="20">

      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
        <font class ="font"><span>產品編號</span></font>
        <el-input v-model="idCount" placeholder="" disabled="disabled" style="width:150px"></el-input>
        
        <font class ="font"><span>地區</span></font>
        <template>
          <el-select v-model="itemData.location" placeholder="請選擇">
            <el-option-group
              v-for="group in options"
              :key="group.label"
              :label="group.label">
              <el-option
                v-for="item in group.options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-option-group>
          </el-select>
        </template>
        
        <font class ="font"><span>是否上架</span></font>
        
        <template>
          <el-select v-model="itemData.available" placeholder="">
            <el-option
              v-for="item in options1"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </template>
        
      </el-col>

    </el-row>

    <el-row :gutter="20">

      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
        <font class ="font"><span>產品名稱</span></font>
        <el-input v-model="itemData.title" placeholder="" style="width:450px" ></el-input>
      </el-col>

    </el-row>

    <el-row :gutter="20">

      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
        <font class ="font"><span>最低售價</span></font>
        <el-input v-model="itemData.lowPrice" placeholder="" style="width:100px" ></el-input>
        <font class ="font"><span>最少人數</span></font>
        <el-input v-model="itemData.minAmount" placeholder="" style="width:100px" ></el-input>
        <font class ="font"><span>可預訂日期</span></font>
        <el-input v-model="itemData.day" placeholder="" style="width:200px" ></el-input>
        <font class ="font"><span>出發時間</span></font>
        <el-input v-model="itemData.depTIme" placeholder="" style="width:200px" ></el-input>
      </el-col>

    </el-row>

    <el-row :gutter="20">

      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
        <font class ="font"><span>集合地點</span></font>
        <el-input v-model="itemData.pickup" placeholder="" style="width:450px" ></el-input>
      </el-col>

    </el-row>

    <!-- 封面照片 -->

    <el-row :gutter="20">
      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
        <font class ="font"><span>封面電腦版照片</span></font>
        <el-upload
          class="upload-demo"
          action= ""
          ref="UploadCoverBig"
          :on-remove="handleRemove"
          list-type="picture"
          :auto-upload="false">
          <el-button slot="trigger" size="small" type="primary">選取照片</el-button>
          <el-button style="margin-left: 10px;" size="small" type="success" @click="UploadCoverBig">上傳</el-button>
        </el-upload>
      </el-col>
    </el-row>

    <el-row :gutter="20">
      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
        <font class ="font"><span>封面手機版照片</span></font>
        <el-upload
          class="upload-demo"
          action= ""
          ref="UploadCoverSmall"
          :on-remove="handleRemove"
          list-type="picture"
          :auto-upload="false">
          <el-button slot="trigger" size="small" type="primary">選取照片</el-button>
          <el-button style="margin-left: 10px;" size="small" type="success" @click="UploadCoverSmall">上傳</el-button>
        </el-upload>
      </el-col>
    </el-row>

    <!-- 活動照片 -->

    <el-row :gutter="20">
      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
        <font class ="font"><span>活動照片</span></font>
        <el-upload
          class="upload-demo"
          action= ""
          ref="UploadImg"
          :on-remove="handleRemove"
          list-type="picture"
          :auto-upload="false">
          <el-button slot="trigger" size="small" type="primary">選取照片</el-button>
          <el-button style="margin-left: 10px;" size="small" type="success" @click="UploadImg">上傳</el-button>
        </el-upload>
      </el-col>
    </el-row>

  </div>





  <!-- 行程開始 -->

  <div class ="el-col el-col-24 el-col-lg-24 " style="background-color:#E0E0E0">
    <div class ="el-col el-col-24 el-col-xs-22 el-col-xs-offset-1 el-col-sm-22 el-col-sm-offset-1 el-col-lg-22 el-col-lg-offset-1">  

      

      <el-row :gutter="20" >

        <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
          <font class ="font"><span style="color:	#FF5151">新增行程</span></font>
          <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemItineraryAdd"></el-button>
        </el-col>
        <span v-for="(fields,index1) in itemItinerary">
          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

            <font class ="font"><span>第{{index1+1}}行程</span></font>
            
          </el-col>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
            <font class ="font"><span>活動名稱</span></font>
            <el-input v-model="fields.itemTitle" placeholder="" style="width:300px"></el-input>
            <font class ="font"><span>活動時長</span></font>
            <el-input v-model="fields.itemTime" placeholder="" style="width:100px"></el-input><br><br>
          </el-col>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
            
          </el-col>

          <!-- BOX開始 -->

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
            <el-card class="box-card" style="min-height: 250px;" >
              <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

                <span v-for="(field,index) in itemRadio">
                  <br><font class ="font"><span style="color:	#FF5151">第{{index+1}}選項活動</span></font><br>
                  <font class ="font"><span>名稱</span></font>

                    <el-input v-model="field[index1]" placeholder="" style="width:150px"></el-input><label>&nbsp;</label>
                </span>

                <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemRadioAdd"></el-button>
                
              </el-col>
            </el-col>
          </el-card>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
            <el-card class="box-card" style="min-height: 250px;" >
              <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

                <span v-for="(field,index) in itemPrice">
                  <br><font class ="font"><span style="color:	#FF5151">第{{index+1}}選項</span></font><br>
                  <font class ="font"><span>成人費用</span></font>

                    <el-input v-model="field[index1]" placeholder="" style="width:150px"></el-input><label>&nbsp;</label>
                </span>

                <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemOptionAdultAdd"></el-button>
                
              </el-col>
            </el-col>
          </el-card>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
            <el-card class="box-card" style="min-height: 250px;" >
              <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

                <span v-for="(field,index) in itemOtherAdult">
                  <br><font class ="font"><span style="color:	#FF5151">第{{index+1}}選項</span></font><br>
                  <font class ="font"><span>成人備註</span></font>

                    <el-input v-model="field[index1]" placeholder="" style="width:150px"></el-input><label>&nbsp;</label>
                </span>

                <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemOptionOtherAdult"></el-button>
                
              </el-col>
            </el-col>
          </el-card>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
            <el-card class="box-card" style="min-height: 250px;" >
              <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

                <font class ="font"><span>活動出發時間</span></font>
                <span v-for="(field,index3) in itemDepTime">
                  <br><font class ="font"><span>{{index3+1}}.</span></font>
                  <el-input v-model="field[index1]" placeholder="" style="width:150px"></el-input><label>&nbsp;</label>
                </span>
                <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemOptionDepTimeAdd"></el-button>    
              </el-col>
            </el-col>
          </el-card>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
            <el-card class="box-card" style="min-height: 250px;" >
              <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

                <span v-for="(field,index3) in itemPriceKid">
                  <br><font class ="font"><span style="color:	#FF5151">第{{index3+1}}選項</span></font><br>
                  <font class ="font"><span>兒童費用</span></font>

                    <el-input v-model="field[index1]" placeholder="" style="width:150px"></el-input><label>&nbsp;</label>
                </span>
                <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemOptionKidAdd"></el-button>    
              </el-col>
            </el-col>
          </el-card>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
            <el-card class="box-card" style="min-height: 250px;" >
              <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

                <span v-for="(field,index) in itemOtherKid">
                  <br><font class ="font"><span style="color:	#FF5151">第{{index+1}}選項</span></font><br>
                  <font class ="font"><span>兒童備註</span></font>

                    <el-input v-model="field[index1]" placeholder="" style="width:150px"></el-input><label>&nbsp;</label>
                </span>

                <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemOptionOtherKid"></el-button>
                
              </el-col>
            </el-col>
          </el-card>
          
        </span>

      </el-row>

    </div>
  </div>

  <div class ="el-col el-col-24 el-col-lg-24 ">
    <div class ="el-col el-col-24 el-col-xs-22 el-col-xs-offset-1 el-col-sm-22 el-col-sm-offset-1 el-col-lg-22 el-col-lg-offset-1">  

      <el-row :gutter="20">

        <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
          <font class ="font"><span>行程特色</span></font>
          <el-input type="textarea" :rows="5" placeholder="請輸入內容" v-model="itemData.features" style="width:600px"></el-input>
        </el-col>

      </el-row>

      <el-row :gutter="20">

        <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
          <font class ="font"><span>行程內容</span></font>
          <el-input type="textarea" :rows="10" placeholder="請輸入內容" v-model="itemData.itinerary" style="width:600px"></el-input>
        </el-col>

      </el-row>

      <el-row :gutter="20">

        <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
          <font class ="font"><span>注意事項</span></font>
          <el-input type="textarea" :rows="10" placeholder="請輸入內容" v-model="itemData.announce" style="width:600px"></el-input>
        </el-col>

      </el-row>

      <el-row :gutter="20">

        <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
          <font class ="font"><span>取消規定</span></font>
          <el-input type="textarea" :rows="10" placeholder="請輸入內容" v-model="itemData.cancel" style="width:600px"></el-input>
          <el-button type="primary" @click ="dataSend">送出</el-button>
        </el-col>

      </el-row>


    </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br>
</div>


<script>

  let count

  let itemPrice = {}
  let itemPriceKid = {}
  let itemOtherAdult = {}
  let itemRadio = {}
  let itemDepTime = {}
  let itemOtherKid = {}
  let itemData
  let itemItinerary
  let itemTime = []
  let itemTitle = []
  let coverUrl
  let imageUrl

  let coverUrlBig =[]
  let coverUrlSmall = []
  let imgUrl = []
  
  let obj = {}


  var db = firebase.firestore();


  var Main = {
    data() {
      return {
        index1:0,
        totalPrice:[[]],
        itemData:[],
        idCount:'',
        fields:[],
        counts: 0,
        options: [{
          label: '國內離島',
          options: [{
            value: '澎湖',
            label: '澎湖'
          }, {
            value: '綠島',
            label: '綠島'
          }, {
            value: '蘭嶼',
            label: '蘭嶼'
          }, {
            value: '金門',
            label: '金門'
          }, {
            value: '馬祖',
            label: '馬祖'
          }]
        }, {
          label: '國內本島',
          options: [{
            value: '台北',
            label: '台北'
          }, {
            value: '新北',
            label: '新北'
          }, {
            value: '基隆',
            label: '基隆'
          }, {
            value: '桃園',
            label: '桃園'
          }, {
            value: '新竹',
            label: '新竹'
          }, {
            value: '苗栗',
            label: '苗栗'
          }, {
            value: '台中',
            label: '台中'
          }, {
            value: '彰化',
            label: '彰化'
          }, {
            value: '南投',
            label: '南投'
          }, {
            value: '雲林',
            label: '雲林'
          }, {
            value: '嘉義',
            label: '嘉義'
          }, {
            value: '台南',
            label: '台南'
          }, {
            value: '高雄',
            label: '高雄'
          }, {
            value: '屏東',
            label: '屏東'
          }, {
            value: '花蓮',
            label: '花蓮'
          }, {
            value: '宜蘭',
            label: '宜蘭'
          }]
        }],
        options1: [{
          value: true,
          label: '是'
        },{
          value: false,
          label: '否'
        }],
        itemPrice:[{}],
        itemPriceKid:[{}],
        itemItinerary:[{
          itemTitle:'',
          itemTime:'',
        }],
        itemOtherAdult:[{}],
        itemRadio:[{}],
        itemDepTime:[{}],
        itemOtherKid:[{}],
        coverUrl:[{
          big:"",
          small:"",
        }],
        imageUrl:[{
          value:''
        }],
        fileList:[]
        
      };
      

    },methods: {
      itemOptionAdultAdd(){
        this.itemPrice.push({});
      },
      itemOptionKidAdd(){
        this.itemPriceKid.push({});
      },
      itemItineraryAdd(){
        this.itemItinerary.push({});
      },
      itemOptionOtherAdult(){
        this.itemOtherAdult.push({});
      },
      itemRadioAdd(){
        this.itemRadio.push({});
      },
      itemOptionDepTimeAdd(){
        this.itemDepTime.push({});
      },
      itemOptionOtherKid(){
        this.itemOtherKid.push({});
      },
      coverUrlAdd(){
        this.coverUrl.push({});
      },
      imageUrlAdd(){
        this.imageUrl.push({});
      },
      dataSend(){

        coverUrl = this.coverUrl
        imageUrl = this.imageUrl

        console.log(this.itemPrice)

        itemPrice = this.dataSort(this.itemPrice)
        itemPriceKid = this.dataSort(this.itemPriceKid)
        itemOtherAdult = this.dataSort(this.itemOtherAdult)
        itemOtherKid = this.dataSort(this.itemOtherKid)
        itemDepTime = this.dataSort(this.itemDepTime)
        itemRadio = this.dataSort(this.itemRadio)
        itemData = this.itemData
        itemItinerary = this.itemItinerary


        itemPrice = this.dataSort(this.itemPrice)
        itemPrice = this.dataSort(this.itemPrice)

        console.log(itemPrice)
        console.log(itemPriceKid)
        console.log(itemOtherAdult)
        console.log(itemOtherKid)
        console.log(itemDepTime)
        console.log(itemRadio)

        itemItinerary = this.itemItinerary

        for(i=0;i<Object.keys(itemItinerary).length;i++){
          itemTime[i] = itemItinerary[i].itemTime
          itemTitle[i] = itemItinerary[i].itemTitle
        }

      
        obj = {...itemData,itemPrice,itemPriceKid,itemOtherAdult,itemOtherKid,itemDepTime,itemRadio,itemTime,itemTitle,coverUrl,imageUrl,'id':this.idCount,coverUrlBig,coverUrlSmall,imgUrl}
        console.log(obj)

        let objCurrentId = {
          'currentId': (this.idCount).toString()
        }

        let ref = db.collection('product').doc('count');

        ref.update(objCurrentId).then(() => {
          console.log('id update data successful');
        });

        ref = db.collection('product').doc((this.idCount).toString());

        ref.set(obj).then(() => {
          console.log('update data successful');
          this.$message({
            message: '新增成功',
            type: 'success'
          });
          console.log('新增成功');
          
        }).catch((error) => {
          this.$message.error({
            message: '新增失敗，錯誤原因：'+error,
          });
        });


      },
      dataSort(data){

        // swag obj元素 index只到的位置
        // swag 用key拆開得到2層數值 foreach去跑 porn得到內層數值 ininder抓到位址
        let obj=[{}]

        data.forEach((swag,index)=>{
          Object.keys(swag).forEach((porn,ininder)=>{obj={
            ...obj,
            [ininder]:{...obj[ininder],[index]:swag[ininder]}
          }

          })

          })

        return obj

      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePreview(file) {
        
      },
      async UploadCoverBig(){
        //封面大圖上傳
        console.log(this.$refs.UploadCoverBig.uploadFiles)
        this.$notify({
          title: '上傳中，請稍後',
          type: 'warning',
          offset:50
        });

        try { // statements to try
          for(i=0;i<this.$refs.UploadCoverBig.uploadFiles.length;i++){
            const path = this.$refs.UploadCoverBig.uploadFiles[i].name;
            const storageRef = firebase.storage().ref('product/'+(this.idCount).toString()+'/'+path);

            const task =await storageRef.put(this.$refs.UploadCoverBig.uploadFiles[i].raw);
            coverUrlBig[i] = {'name':path,'url':task.downloadURL}
            console.log(coverUrlBig)
          }
          this.$notify({
            title: '上傳成功',
            type: 'success',
            offset:50
          });
        }
        catch (e) {
          this.$notify.error({
            title: '上傳失敗',
            offset:50
          });
        }
      },
      async UploadCoverSmall(){
        //封面小圖上傳
        console.log(this.$refs.UploadCoverSmall.uploadFiles)
        this.$notify({
          title: '上傳中，請稍後',
          type: 'warning',
          offset:50
        });

        try { // statements to try
          for(j=0;j<this.$refs.UploadCoverSmall.uploadFiles.length;j++){
            const path = this.$refs.UploadCoverSmall.uploadFiles[j].name;
            const storageRef = firebase.storage().ref('product/'+(this.idCount).toString()+'/'+path);

            const task =await storageRef.put(this.$refs.UploadCoverSmall.uploadFiles[j].raw);
            coverUrlSmall[j] = {'name':path,'url':task.downloadURL}
            console.log(coverUrlSmall)
          }
          this.$notify({
            title: '上傳成功',
            type: 'success',
            offset:50
          });
        }
        catch (e) {
          this.$notify.error({
            title: '上傳失敗',
            offset:50
          });
          console.log(e)
        }
      },
      async UploadImg(){
        //活動照片上傳
        console.log(this.$refs.UploadImg.uploadFiles)
        this.$notify({
          title: '上傳中，請稍後',
          type: 'warning',
          offset:50
        });

        try { // statements to try
          for(k=0;i<this.$refs.UploadImg.uploadFiles.length;k++){
            const path = this.$refs.UploadImg.uploadFiles[k].name;
            const storageRef = firebase.storage().ref('product/'+(this.idCount).toString()+'/'+path);

            const task =await storageRef.put(this.$refs.UploadImg.uploadFiles[k].raw);
            imgUrl[k] = {'name':path,'url':task.downloadURL}
            console.log(imgUrl)
          }
          this.$notify({
            title: '上傳成功',
            type: 'success',
            offset:50
          });
        }
        catch (e) {
          this.$notify.error({
            title: '上傳失敗',
            offset:50
          });
          console.log(e)
        }
      }

    },mounted(){

      firebase.auth().onAuthStateChanged((user)=> {
        
        if (user) {
          console.log('o')
          this.$notify({
            title: '帳號狀態：已登入',
            message: '可以開始進行作業',
            type: 'success',
            offset:50
          });
        }else{
          console.log('x')
          this.$notify.error({
            title: '帳號狀態：未登入',
            message: '無法進行新增編輯',
            offset:50
          });
        }
      });

      let ref = db.collection('product').doc('count');

      ref.get().then(doc => { 

        count = parseInt(doc.data().currentId)

        this.idCount = count+1
        this.$message({
          message: '團號讀取成功，可以開始新建行程',
          type: 'success'
        });

      }).catch((error) => {
        this.$message.error({
          message: '新增失敗，錯誤原因：'+error,
        });
      });

            
    }
};

var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')

  
</script>

<script type="text/javascript">

  //使用jQuery的load方法
  $(".include").each(function(){
      if(!!$(this).attr("file")) {
          var $includeObj = $(this);
          $(this).load($(this).attr("file"), function(html){
              $includeObj.after(html).remove();    //載入的檔案內容寫入到當前標籤後面並移除當前標籤
          })
      }
  });
</script>


</body>
</html>