<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>大豐後台管理系統</title>   	
  <meta name="description" content="大豐後台管理系統">
 
  <meta http-equiv="cache-control" content="no-cache">  
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta name="format-detection" content="telephone=no">

  <!-- <link rel="icon" href="dreamer.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="dreamer.ico" type="image/x-icon" /> -->


  
<link href='https://tafengtravel.github.io/tafengtravel/index/sm-css/sm-core-css.css' rel='stylesheet' type='text/css' />
<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
<link href='https://tafengtravel.github.io/tafengtravel/index/sm-css/sm-mint/sm-mint.css' rel='stylesheet' type='text/css' />
<link href='https://tafengtravel.github.io/tafengtravel/index/css/smart.css' rel='stylesheet' type='text/css' />

<script src="https://tafengtravel.github.io/tafengtravel/index/js/jquery.min.js.js"></script>
<script src="https://tafengtravel.github.io/tafengtravel/index/js/jquery.smartmenus.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<link href="https://tafengtravel.github.io/tafengtravel/index/css/elementUI.css" rel="stylesheet" />
<link href="https://tafengtravel.github.io/tafengtravel/index/css/common.css" rel="stylesheet" />
<link href="https://tafengtravel.github.io/tafengtravel/index/css/book.css" rel="stylesheet" />

<!-- 先載入datepicker css 避免覆蓋 -->
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">


<!-- vue+element ui -->
<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui@2.15.0/lib/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<link href="https://tafengtravel.github.io/tafengtravel/index/css/book.css" rel="stylesheet" />

<!-- axios -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>

<!-- datepicker+moment -->
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>



</head>
<body>

   
   <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>

<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>

<style>
.el-card{
  margin-bottom:20px; 
}
.v-application--wrap {
  flex: 1 1 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  min-height: 0vh;
  max-width: 50%;
  position: relative;
}
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
</style>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyC1DlPU6BqCFXzWLBZ_6Y90KNLwYzfei3c",
    authDomain: "tafengtravel-web.firebaseapp.com",
    projectId: "tafengtravel-web",
    storageBucket: "tafengtravel-web.appspot.com",
    messagingSenderId: "971660802735",
    appId: "1:971660802735:web:af7e22d11fe81ca63ab25a"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>





<!-- <nav class="main-nav" role="navigation">

  
  <input id="main-menu-state" type="checkbox" />
  <label class="main-menu-btn" for="main-menu-state">
    <span class="main-menu-btn-icon"></span> 
  </label>

  <h2 class="nav-brand"><img src="dreamer.png"  width="132" height="50"  ></h2>

  
  <ul id="main-menu" class="sm sm-mint">
    <li><a href="home.html">首頁</a></li>
    <li><a href="#">球員資料</a>
      
    </li>
    <li><a href="#">戰績排行</a>
      
    </li>
    <li><a href="#">數據統計</a>
      
    </li>

  </ul>
</nav> -->

<div class="include" file="https://tafengtravel.github.io/tafengtravel/index5/top.html"></div>



<div id="app"> 
  <div class ="el-col el-col-24 el-col-xs-22 el-col-xs-offset-1 el-col-sm-22 el-col-sm-offset-1 el-col-lg-22 el-col-lg-offset-1"> 
    
    <el-row></el-row><el-row></el-row>
    <el-row :gutter="20">

      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
        <font class ="font"><span>產品編號</span></font>
        <el-input v-model="idCount" placeholder="" disabled="disabled" style="width:150px"></el-input>
        
        <font class ="font"><span>地區</span></font>
        <template>
          <el-select v-model="itemData.country" placeholder="請選擇">
            <el-option-group
              v-for="group in optionsCountry"
              :key="group.label"
              :label="group.label">
              <el-option
                v-for="item in group.options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-option-group>
          </el-select>
        </template>
        <template>
          <el-select v-model="itemData.location" placeholder="請選擇">
            <el-option-group
              v-for="group in options"
              :key="group.label"
              :label="group.label">
              <el-option
                v-for="item in group.options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-option-group>
          </el-select>
        </template>
        
        <font class ="font"><span>是否上架</span></font>
        
        <template>
          <el-select v-model="itemData.available" placeholder="">
            <el-option
              v-for="item in options1"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </template>
        
      </el-col>

    </el-row>

    <el-row :gutter="20">

      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
        <font class ="font"><span>產品名稱</span></font>
        <el-input v-model="itemData.title" placeholder="" style="width:450px" ></el-input>
      </el-col>

    </el-row>

    <el-row :gutter="20">

      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
        <font class ="font"><span>最低售價</span></font>
        <el-input v-model="itemData.lowPrice" placeholder="" style="width:100px" ></el-input>
        <font class ="font"><span>最少人數</span></font>
        <el-input v-model="itemData.minAmount" placeholder="" style="width:100px" ></el-input>
        <font class ="font"><span>可預訂日期</span></font>
        <el-input v-model="itemData.day" placeholder="" style="width:200px" ></el-input>
        <font class ="font"><span>出發時間</span></font>
        <el-input v-model="itemData.depTIme" placeholder="" style="width:200px" ></el-input>
      </el-col>

    </el-row>

    <el-row :gutter="20">

      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
        <font class ="font"><span>集合地點</span></font>
        <el-input v-model="itemData.pickup" placeholder="" style="width:450px" ></el-input>
      </el-col>

    </el-row>

    <el-row :gutter="20">

      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
        <font class ="font"><span>關鍵字</span></font>
        <font class ="mini_font"><span>&emsp;請確實輸入關鍵字 EX：澎湖、七美、望安、水上活動</span></font>
      </el-col>

      <el-tag
        :key="tag"
        v-for="tag in itemData.keyword"
        closable
        :disable-transitions="false"
        @close="handleClose(tag)">
        {{tag}}
      </el-tag>
      <el-input
        class="input-new-tag"
        v-if="inputVisible"
        v-model="inputValue"
        ref="saveTagInput"
        size="small"
        @keyup.enter.native="handleInputConfirm"
        @blur="handleInputConfirm"
        >
      </el-input>
      <el-button v-else class="button-new-tag" size="small" @click="showInput">+ 新增</el-button>

    </el-row>

    <font class ="font"><span>上架日期</span></font>
    <v-app id="inspire">
      <v-row>
        <v-col cols="12" sm="6">
          <v-date-picker v-model="itemData.dates"@click:date="dateClick" @dblclick:date="selectAll" @contextmenu:date="disableAll" multiple></v-date-picker>
        </v-col>
      </v-row>
    </v-app>

    <!-- 封面照片 -->

    <el-row :gutter="20">
      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
        <font class ="font"><span>封面電腦版照片</span></font>
        <el-upload
          class="upload-demo"
          action= ""
          ref="UploadCoverBig"
          :on-remove="coverBigRemove"
          list-type="picture"
          :file-list="coverUrlBig"
          :auto-upload="false">
          <el-button slot="trigger" size="small" type="primary">選取照片</el-button>
          <el-button style="margin-left: 10px;" size="small" type="success" @click="UploadCoverBig">上傳</el-button>
        </el-upload>
      </el-col>
    </el-row>

    <el-row :gutter="20">
      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
        <font class ="font"><span>封面手機版照片</span></font>
        <el-upload
          class="upload-demo"
          action= ""
          ref="UploadCoverSmall"
          :on-remove="coverSmallRemove"
          list-type="picture"
          :file-list="coverUrlSmall"
          :auto-upload="false">
          <el-button slot="trigger" size="small" type="primary">選取照片</el-button>
          <el-button style="margin-left: 10px;" size="small" type="success" @click="UploadCoverSmall">上傳</el-button>
        </el-upload>
      </el-col>
    </el-row>

    <!-- 活動照片 -->

    <el-row :gutter="20">
      <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
        <font class ="font"><span>活動照片</span></font>
        <el-upload
          class="upload-demo"
          action= ""
          ref="UploadImg"
          :on-remove="imgRemove"
          list-type="picture"
          :file-list="imageUrl"
          :auto-upload="false">
          <el-button slot="trigger" size="small" type="primary">選取照片</el-button>
          <el-button style="margin-left: 10px;" size="small" type="success" @click="UploadImg">上傳</el-button>
        </el-upload>
      </el-col>
    </el-row>

  </div>





  <!-- 行程開始 -->

  <div class ="el-col el-col-24 el-col-lg-24 " style="background-color:#E0E0E0">
    <div class ="el-col el-col-24 el-col-xs-22 el-col-xs-offset-1 el-col-sm-22 el-col-sm-offset-1 el-col-lg-22 el-col-lg-offset-1">  

      

      <el-row :gutter="20" >

        <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
          <font class ="font"><span style="color:	#FF5151">新增行程</span></font>
          <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemItineraryAdd"></el-button>
          <el-button type="danger" icon="el-icon-remove-outline" @click="itemItineraryRemove"></el-button>
        </el-col>
        <span v-for="(fields,index1) in itemItinerary">
          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

            <font class ="font"><span>第{{index1+1}}行程</span></font>
            
          </el-col>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
            <font class ="font"><span>活動名稱</span></font>
            <el-input v-model="fields.itemTitle" placeholder="" style="width:300px"></el-input>
            <font class ="font"><span>活動時長</span></font>
            <el-input v-model="fields.itemTime" placeholder="" style="width:100px"></el-input><br><br>
          </el-col>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
            
          </el-col>

          <!-- BOX開始 -->

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
            <el-card class="box-card" style="min-height: 250px;" >
              <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

                <span v-for="(field,index) in itemRadio">
                  <br><font class ="font"><span style="color:	#FF5151">第{{index+1}}選項活動</span></font><br>
                  <font class ="font"><span>名稱</span></font>

                    <el-input v-model="field[index1]" placeholder="" style="width:150px"></el-input><label>&nbsp;</label>
                </span>

                <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemRadioAdd"></el-button>
                <el-button type="danger" icon="el-icon-remove-outline" @click="itemRadioRemove"></el-button>
                
              </el-col>
            </el-col>
          </el-card>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
            <el-card class="box-card" style="min-height: 250px;" >
              <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

                <span v-for="(field,index) in itemPrice">
                  <br><font class ="font"><span style="color:	#FF5151">第{{index+1}}選項</span></font><br>
                  <font class ="font"><span>成人費用</span></font>

                    <el-input v-model="field[index1]" placeholder="" style="width:150px"></el-input><label>&nbsp;</label>
                </span>

                <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemOptionAdultAdd"></el-button>
                <el-button type="danger" icon="el-icon-remove-outline" @click="itemOptionAdultRemove"></el-button>
                
              </el-col>
            </el-col>
          </el-card>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
            <el-card class="box-card" style="min-height: 250px;" >
              <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

                <span v-for="(field,index) in itemOtherAdult">
                  <br><font class ="font"><span style="color:	#FF5151">第{{index+1}}選項</span></font><br>
                  <font class ="font"><span>成人備註</span></font>

                    <el-input v-model="field[index1]" placeholder="" style="width:150px"></el-input><label>&nbsp;</label>
                </span>

                <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemOptionOtherAdultAdd"></el-button>
                <el-button type="danger" icon="el-icon-remove-outline" @click="itemOptionOtherAdultRemove"></el-button>
                
              </el-col>
            </el-col>
          </el-card>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
            <el-card class="box-card" style="min-height: 250px;" >
              <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

                <font class ="font"><span>活動出發時間</span></font>
                <span v-for="(field,index3) in itemDepTime">
                  <br><font class ="font"><span>{{index3+1}}.</span></font>
                  <el-input v-model="field[index1]" placeholder="" style="width:150px"></el-input><label>&nbsp;</label>
                </span>

                <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemOptionDepTimeAdd"></el-button>    
                <el-button type="danger" icon="el-icon-remove-outline" @click="itemOptionDepTimeRemove"></el-button>

              </el-col>
            </el-col>
          </el-card>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
            <el-card class="box-card" style="min-height: 250px;" >
              <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

                <span v-for="(field,index3) in itemPriceKid">
                  <br><font class ="font"><span style="color:	#FF5151">第{{index3+1}}選項</span></font><br>
                  <font class ="font"><span>兒童費用</span></font>

                    <el-input v-model="field[index1]" placeholder="" style="width:150px"></el-input><label>&nbsp;</label>
                </span>

                <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemOptionKidAdd"></el-button>  
                <el-button type="danger" icon="el-icon-remove-outline" @click="itemOptionKidRemove"></el-button>

              </el-col>
            </el-col>
          </el-card>

          <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-8">
            <el-card class="box-card" style="min-height: 250px;" >
              <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">

                <span v-for="(field,index) in itemOtherKid">
                  <br><font class ="font"><span style="color:	#FF5151">第{{index+1}}選項</span></font><br>
                  <font class ="font"><span>兒童備註</span></font>

                    <el-input v-model="field[index1]" placeholder="" style="width:150px"></el-input><label>&nbsp;</label>
                </span>

                <el-button type="primary" icon="el-icon-circle-plus-outline" @click="itemOptionOtherKidAdd"></el-button>
                <el-button type="danger" icon="el-icon-remove-outline" @click="itemOptionOtherKidRemove"></el-button>
                
              </el-col>
            </el-col>
          </el-card>
          
        </span>

      </el-row>

    </div>
  </div>

  <div class ="el-col el-col-24 el-col-lg-24 ">
    <div class ="el-col el-col-24 el-col-xs-22 el-col-xs-offset-1 el-col-sm-22 el-col-sm-offset-1 el-col-lg-22 el-col-lg-offset-1">  

      <el-row :gutter="20">

        <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
          <font class ="font"><span>行程特色</span></font>
          <el-input type="textarea" :rows="5" placeholder="請輸入內容" v-model="itemData.features" style="width:600px"></el-input>
        </el-col>

      </el-row>

      <el-row :gutter="20">

        <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
          <font class ="font"><span>行程內容</span></font>
          <el-input type="textarea" :rows="10" placeholder="請輸入內容" v-model="itemData.itinerary" style="width:600px"></el-input>
        </el-col>

      </el-row>

      <el-row :gutter="20">

        <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
          <font class ="font"><span>注意事項</span></font>
          <el-input type="textarea" :rows="10" placeholder="請輸入內容" v-model="itemData.announce" style="width:600px"></el-input>
        </el-col>

      </el-row>

      <el-row :gutter="20">

        <el-col class ="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-24">
          <font class ="font"><span>取消規定</span></font>
          <el-input type="textarea" :rows="10" placeholder="請輸入內容" v-model="itemData.cancel" style="width:600px"></el-input>
          <el-button type="primary" @click ="dataSend">送出</el-button>
        </el-col>

      </el-row>


    </div>
  </div>

</div>


<script>

  let count

  let itemPrice = {}
  let itemPriceKid = {}
  let itemOtherAdult = {}
  let itemRadio = {}
  let itemDepTime = {}
  let itemOtherKid = {}
  let itemData
  let itemItinerary
  let itemTime = []
  let itemTitle = []

  let coverUrlBig =[]
  let coverUrlSmall = []
  let imageUrl = []
  
  let obj = {}


  var db = firebase.firestore();

  var Main = {
    vuetify: new Vuetify(),
    data() {
      return {
        index1:0,
        totalPrice:[[]],
        itemData:{keyword:[]},
        idCount:'',
        fields:[],
        counts: 0,

        options: [{
          label: '無',
          options: [{
            value: '',
            label: ''
          }]
        },{
          label: '台灣離島',
          options: [{
            value: '澎湖',
            label: '澎湖'
          }, {
            value: '綠島',
            label: '綠島'
          }, {
            value: '蘭嶼',
            label: '蘭嶼'
          }, {
            value: '金門',
            label: '金門'
          }, {
            value: '馬祖',
            label: '馬祖'
          }]
        }, {
          label: '台灣本島',
          options: [{
            value: '台北',
            label: '台北'
          }, {
            value: '新北',
            label: '新北'
          }, {
            value: '基隆',
            label: '基隆'
          }, {
            value: '桃園',
            label: '桃園'
          }, {
            value: '新竹',
            label: '新竹'
          }, {
            value: '苗栗',
            label: '苗栗'
          }, {
            value: '台中',
            label: '台中'
          }, {
            value: '彰化',
            label: '彰化'
          }, {
            value: '南投',
            label: '南投'
          }, {
            value: '雲林',
            label: '雲林'
          }, {
            value: '嘉義',
            label: '嘉義'
          }, {
            value: '台南',
            label: '台南'
          }, {
            value: '高雄',
            label: '高雄'
          }, {
            value: '屏東',
            label: '屏東'
          }, {
            value: '台東',
            label: '台東'
          }, {
            value: '花蓮',
            label: '花蓮'
          }, {
            value: '宜蘭',
            label: '宜蘭'
          }]
        },{
          label: '日本',
          options: [{
            value: '北海道',
            label: '北海道'
          }, {
            value: '東北',
            label: '東北'
          }, {
            value: '中部',
            label: '中部'
          }, {
            value: '關東',
            label: '關東'
          }, {
            value: '關西',
            label: '關西'
          }, {
            value: '中國',
            label: '中國'
          }, {
            value: '四國',
            label: '四國'
          }, {
            value: '九州',
            label: '九州'
          }, {
            value: '沖繩',
            label: '沖繩'
          }]
        },{
          label: '韓國',
          options: [{
            value: '首爾',
            label: '首爾'
          }, {
            value: '濟州島',
            label: '濟州島'
          },{
            value: '釜山',
            label: '釜山'
          },{
            value: '大邱',
            label: '大邱'
          },{
            value: '京畿道',
            label: '京畿道'
          },{
            value: '江原道',
            label: '江原道'
          }]
        },{
          label: '泰國',
          options: [{
            value: '普吉島',
            label: '普吉島'
          }, {
            value: '曼谷',
            label: '曼谷'
          }, {
            value: '清邁',
            label: '清邁'
          }, {
            value: '芭達雅',
            label: '芭達雅'
          }, {
            value: '北碧',
            label: '北碧'
          }, {
            value: '大城',
            label: '大城'
          }, {
            value: '佛統府',
            label: '佛統府'
          }, {
            value: '華欣',
            label: '華欣'
          }, {
            value: '素叻他尼',
            label: '素叻他尼'
          }, {
            value: '合艾',
            label: '合艾'
          }]
        },{
          label: '菲律賓',
          options: [{
            value: '宿霧',
            label: '宿霧'
          }, {
            value: '科隆島',
            label: '科隆島'
          }, {
            value: '長灘島',
            label: '長灘島'
          }]
        },{
          label: '中國',
          options: [{
            value: '澳門',
            label: '澳門'
          }, {
            value: '香港',
            label: '香港'
          }, {
            value: '北京',
            label: '北京'
          }, {
            value: '上海',
            label: '上海'
          }, {
            value: '福建',
            label: '福建'
          }, {
            value: '浙江',
            label: '浙江'
          }, {
            value: '廣東',
            label: '廣東'
          }, {
            value: '湖南',
            label: '湖南'
          }, {
            value: '四川',
            label: '四川'
          }, {
            value: '海南島',
            label: '海南島'
          }, {
            value: '安徽',
            label: '安徽'
          }, {
            value: '山東',
            label: '山東'
          }, {
            value: '江蘇',
            label: '江蘇'
          }, {
            value: '湖北',
            label: '湖北'
          }, {
            value: '廣西',
            label: '廣西'
          }, {
            value: '天津',
            label: '天津'
          }, {
            value: '陝西',
            label: '陝西'
          }, {
            value: '重慶',
            label: '重慶'
          }, {
            value: '遼寧',
            label: '遼寧'
          }, {
            value: '雲南',
            label: '雲南'
          }]
        },{
          label: '越南',
          options: [{
            value: '北越',
            label: '北越'
          }, {
            value: '中越',
            label: '中越'
          },{
            value: '南越',
            label: '南越'
          }]
        },{
          label: '美國',
          options: [{
            value: '紐約',
            label: '紐約'
          },{
            value: '舊金山',
            label: '舊金山'
          },{
            value: '洛杉磯',
            label: '洛杉磯'
          }]
        }],

        optionsCountry: [{
          label: '國外',
          options: [{
            value: '台灣',
            label: '台灣'
          }, {
            value: '日本',
            label: '日本'
          }, {
            value: '韓國',
            label: '韓國'
          }, {
            value: '中國',
            label: '中國'
          }, {
            value: '泰國',
            label: '泰國'
          }, {
            value: '菲律賓',
            label: '菲律賓'
          }, {
            value: '越南',
            label: '越南'
          }, {
            value: '美國',
            label: '美國'
          }]
        }],

        options1: [{
          value: true,
          label: '是'
        },{
          value: false,
          label: '否'
        }],
        itemPrice:[{}],
        itemPriceKid:[{}],
        itemItinerary:[{
          itemTitle:'',
          itemTime:'',
        }],
        itemOtherAdult:[{}],
        itemRadio:[{}],
        itemDepTime:[{}],
        itemOtherKid:[{}],

        coverUrlBig:[],
        coverUrlSmall:[],
        imageUrl:[],

        inputVisible: false,
        inputValue: '',
        
      };
      

    },methods: {
      itemItineraryAdd(){
        this.itemItinerary.push({});
      },
      itemItineraryRemove(){
        this.itemItinerary.pop();
      },
      itemOptionAdultAdd(){
        this.itemPrice.push({});
      },
      itemOptionKidAdd(){
        this.itemPriceKid.push({});
      },
      itemOptionOtherAdultAdd(){
        this.itemOtherAdult.push({});
      },
      itemRadioAdd(){
        this.itemRadio.push({});
      },
      itemOptionDepTimeAdd(){
        this.itemDepTime.push({});
      },
      itemOptionOtherKidAdd(){
        this.itemOtherKid.push({});
      },
      itemRadioRemove(){
        this.itemRadio.pop();
      },
      itemOptionAdultRemove(){
        this.itemPrice.pop();
      },
      itemOptionOtherAdultRemove(){
        this.itemOtherAdult.pop();
      },
      itemOptionDepTimeRemove(){
        this.itemDepTime.pop();
      },
      itemOptionKidRemove(){
        this.itemPriceKid.pop();
      },
      itemOptionOtherKidRemove(){
        this.itemOtherKid.pop();
      },
      dataSend(){

        console.log(this.itemPrice)

        itemPrice = this.dataSort(this.itemPrice)
        itemPriceKid = this.dataSort(this.itemPriceKid)
        itemOtherAdult = this.dataSort(this.itemOtherAdult)
        itemOtherKid = this.dataSort(this.itemOtherKid)
        itemDepTime = this.dataSort(this.itemDepTime)
        itemRadio = this.dataSort(this.itemRadio)
        itemData = this.itemData
        itemItinerary = this.itemItinerary


        itemPrice = this.dataSort(this.itemPrice)
        itemPrice = this.dataSort(this.itemPrice)

        coverUrlBig = this.coverUrlBig
        coverUrlSmall = this.coverUrlSmall
        imageUrl = this.imageUrl

        console.log(itemPrice)
        console.log(itemPriceKid)
        console.log(itemOtherAdult)
        console.log(itemOtherKid)
        console.log(itemDepTime)
        console.log(itemRadio)

        itemItinerary = this.itemItinerary

        for(i=0;i<Object.keys(itemItinerary).length;i++){
          itemTime[i] = itemItinerary[i].itemTime
          itemTitle[i] = itemItinerary[i].itemTitle
        }

      
        obj = {...itemData,itemPrice,itemPriceKid,itemOtherAdult,itemOtherKid,itemDepTime,itemRadio,itemTime,itemTitle,'id':this.idCount,coverUrlBig,coverUrlSmall,imageUrl}
        console.log(obj)
        
        let objCurrentId = {
          'currentId': (this.idCount).toString()
        }

        let ref 
        //判斷有無小圖 如無則上傳空字串
        if(coverUrlSmall[0] === undefined){
          coverUrlSmallCheck = ''
        }else{
          coverUrlSmallCheck = coverUrlSmall[0].url
        }

        objList={"title":itemData.title ||'',"coverUrlSmall":coverUrlSmallCheck,"features":itemData.features ||'',"lowPrice":itemData.lowPrice ||'',"location":itemData.location ||'',"available":itemData.available ||'',
                  'id':this.idCount,'keyword':itemData.keyword,'country':itemData.country
                }

        ref = db.collection('product').doc((this.idCount).toString());

        ref.set(obj).then(() => {

          ref = db.collection('list').doc((this.idCount).toString());
          ref.set(objList).then(() => {
            ref = db.collection('product').doc('count');

            //上傳至count
            ref.update(objCurrentId).then(() => {
              console.log('id update data successful');

              this.$message({
                message: '修改成功，即將進行跳轉',
                type: 'success'
              });
              setTimeout(time =>{ 
                window.location.href='https://tafengtravel.github.io/tafengtravel/index5/edit.html?id='+this.idCount 
              }, 2000);
              

            }).catch((error) => {
              this.$message.error({
                message: '修改失敗，錯誤原因：'+error,
              });
              console.log(error)
            });
            
          }).catch((error) => {
            this.$message.error({
              message: '修改失敗，錯誤原因：'+error,
            });
            console.log(error)
          });
          
        }).catch((error) => {
          this.$message.error({
            message: '修改失敗，錯誤原因：'+error,
          });
          console.log(error)
        });


      },
      dataSort(data){

        // swag obj元素 index只到的位置
        // swag 用key拆開得到2層數值 foreach去跑 porn得到內層數值 ininder抓到位址
        let obj=[{}]

        data.forEach((swag,index)=>{
          Object.keys(swag).forEach((porn,ininder)=>{obj={
            ...obj,
            [ininder]:{...obj[ininder],[index]:swag[ininder]}
          }

          })

          })

        return obj

      },
      async coverBigRemove(file, fileList) {
        if(file.status == 'success'){
          let storageRef = firebase.storage().ref('product/'+this.idCount+'/'+file.name);

          await storageRef.delete().then(doc =>{
            this.coverUrlBig.length = 0

            this.$notify({
              title: '刪除成功',
              type: 'success',
              offset:50
            });

          }).catch(function(error) {
            console.log(error)

            this.$notify.error({
              title: '刪除失敗，請聯繫管理員',
              offset:50
            });
          });
        }
        this.coverUrlBig = fileList
      },
      async coverSmallRemove(file, fileList) {
        if(file.status == 'success'){
          let storageRef = firebase.storage().ref('product/'+this.idCount+'/'+file.name);

          await storageRef.delete().then(doc =>{
            this.coverUrlSmall.length = 0

            this.$notify({
              title: '刪除成功',
              type: 'success',
              offset:50
            });
            
          }).catch(function(error) {
            console.log(error)

            this.$notify.error({
              title: '刪除失敗，請聯繫管理員',
              offset:50
            });
          });
        }
        this.coverUrlSmall = fileList
      },
      async imgRemove(file, fileList) {
        if(file.status == 'success'){
          let storageRef = firebase.storage().ref('product/'+this.idCount+'/'+file.name);

          await storageRef.delete().then(doc =>{
            this.imageUrl.length = 0

            this.$notify({
              title: '刪除成功',
              type: 'success',
              offset:50
            });

          }).catch(function(error) {
            console.log(error)

            this.$notify.error({
              title: '刪除失敗，請聯繫管理員',
              offset:50
            });
          });
        }
        this.imageUrl = fileList
      },
      async UploadCoverBig(){
        //封面大圖上傳
        console.log(this.$refs.UploadCoverBig.uploadFiles)
        this.$notify({
          title: '上傳中，請稍後',
          type: 'warning',
          offset:50
        });

        try { // statements to try
          let oldCountCoverBig = this.coverUrlBig.length
          for(i=0;i<this.$refs.UploadCoverBig.uploadFiles.length-oldCountCoverBig;i++){
            const path = this.$refs.UploadCoverBig.uploadFiles[oldCountCoverBig+i].name;
            const storageRef = firebase.storage().ref('product/'+(this.idCount).toString()+'/'+path);

            const task =await storageRef.put(this.$refs.UploadCoverBig.uploadFiles[oldCountCoverBig+i].raw);
            this.coverUrlBig[oldCountCoverBig+i] = {'name':path,'url':task.downloadURL}
            console.log(this.coverUrlBig)
          }
          this.$notify({
            title: '上傳成功',
            type: 'success',
            offset:50
          });
          this.coverUrlBig.reverse()
          this.coverUrlBig.reverse()
        }
        catch (e) {
          this.$notify.error({
            title: '上傳失敗',
            offset:50
          });
        }
      },
      async UploadCoverSmall(){
        //封面小圖上傳
        console.log(this.$refs.UploadCoverSmall.uploadFiles)
        this.$notify({
          title: '上傳中，請稍後',
          type: 'warning',
          offset:50
        });

        try { // statements to try
          let oldCountCoverSmall = this.coverUrlSmall.length
          for(j=0;j<this.$refs.UploadCoverSmall.uploadFiles.length-oldCountCoverSmall;j++){
            const path = this.$refs.UploadCoverSmall.uploadFiles[oldCountCoverSmall+j].name;
            const storageRef = firebase.storage().ref('product/'+(this.idCount).toString()+'/'+path);

            const task =await storageRef.put(this.$refs.UploadCoverSmall.uploadFiles[oldCountCoverSmall+j].raw);
            this.coverUrlSmall[oldCountCoverSmall+j] = {'name':path,'url':task.downloadURL}
            console.log(this.coverUrlSmall)

          }
          this.$notify({
            title: '上傳成功',
            type: 'success',
            offset:50
          });
          this.coverUrlSmall.reverse()
          this.coverUrlSmall.reverse()
        }
        catch (e) {
          this.$notify.error({
            title: '上傳失敗',
            offset:50
          });
          console.log(e)
        }
      },
      async UploadImg(){
        //活動照片上傳
        console.log(this.$refs.UploadImg.uploadFiles)
        this.$notify({
          title: '上傳中，請稍後',
          type: 'warning',
          offset:50
        });

        try { // statements to try
          let oldCountImg = this.imageUrl.length
          console.log(oldCountImg)
          console.log(this.$refs.UploadImg.uploadFiles.length-oldCountImg)
          for(k=0;k<this.$refs.UploadImg.uploadFiles.length-oldCountImg;k++){
            const path = this.$refs.UploadImg.uploadFiles[oldCountImg+k].name;
            const storageRef = firebase.storage().ref('product/'+(this.idCount).toString()+'/'+path);

            const task =await storageRef.put(this.$refs.UploadImg.uploadFiles[oldCountImg+k].raw);
            this.imageUrl[oldCountImg+k] = {'name':path,'url':task.downloadURL}
            console.log(this.imageUrl)
          }
          this.$notify({
            title: '上傳成功',
            type: 'success',
            offset:50
          });
          this.imageUrl.reverse()
          this.imageUrl.reverse()
        }
        catch (e) {
          this.$notify.error({
            title: '上傳失敗',
            offset:50
          });
          console.log(e)
        }
      },
      dateClick(){
        console.log(this.itemData.dates)
      },
      selectAll(date){
        let currentMonth = moment(date).format('YYYY-MM')
        let days = moment(date,'YYYY-MM').daysInMonth()
        let formatDate
        for(i=1;i<days+1;i++){
            formatDate = new Date(currentMonth +'-'+ i.toString())
            this.itemData.dates.push(moment(formatDate).format('YYYY-MM-DD'))
        }
        console.log(this.itemData.dates)
      },
      disableAll(date){
        let currentMonth = moment(date).format('YYYY-MM')
        let days = moment(date,'YYYY-MM').daysInMonth()
        let formatDate
        let index
        for(i=1;i<days+1;i++){
            formatDate = new Date(currentMonth +'-'+ i.toString())
            index = this.itemData.dates.indexOf(moment(formatDate).format('YYYY-MM-DD'));
            this.itemData.dates.splice(index, 1);
        }
        console.log(this.itemData.dates)
      },
      handleClose(tag) {
        this.itemData.keyword.splice(this.itemData.keyword.indexOf(tag), 1);
      },
      showInput() {
        this.inputVisible = true;
        this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
        });
      },
      handleInputConfirm() {
        let inputValue = this.inputValue;
        if (inputValue) {
        this.itemData.keyword.push(inputValue);
        }
        this.inputVisible = false;
        this.inputValue = '';
      },

    },mounted(){

      firebase.auth().onAuthStateChanged((user)=> {
        
        if (user) {
          console.log('o')
          this.$notify({
            title: '帳號狀態：已登入',
            message: '可以開始進行作業',
            type: 'success',
            offset:50
          });
        }else{
          console.log('x')
          this.$notify.error({
            title: '帳號狀態：未登入',
            message: '無法進行新增編輯',
            offset:50
          });
        }
      });

      let ref = db.collection('product').doc('count');

      ref.get().then(doc => { 

        count = parseInt(doc.data().currentId)

        this.idCount = count+1
        this.$message({
          message: '團號讀取成功，可以開始新建行程',
          type: 'success'
        });

      }).catch((error) => {
        this.$message.error({
          message: '新增失敗，錯誤原因：'+error,
        });
      });

      itemData = this.itemData
            
    }
};

var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')

  
</script>

<script type="text/javascript">

  //使用jQuery的load方法
  $(".include").each(function(){
      if(!!$(this).attr("file")) {
          var $includeObj = $(this);
          $(this).load($(this).attr("file"), function(html){
              $includeObj.after(html).remove();    //載入的檔案內容寫入到當前標籤後面並移除當前標籤
          })
      }
  });
</script>


</body>
</html>