


@media (min-width: 768px){
    .title{
        font-family: Microsoft JhengHei;
        color:#404040;
        font-size: 35px;
        font-weight:bold;
    }
    .font{
        font-family: Microsoft JhengHei;
        color:#666;
        font-size: 20px;
        font-weight:bold;
    }
    .sub_title{
        font-family: Microsoft JhengHei;
        color:#404040;
        font-size: 28px;
        font-weight:bold;
    }
    .mini_font{
        font-family: Microsoft JhengHei;
        color:#666;
        font-size: 16px;
        font-weight:bold;
    }
    .box_sub_title{
        font-family: Microsoft JhengHei;
        color:#F60;
        font-size: 28px;
        font-weight:bold;
    }.hidden-sm-up{
        display:none;
        height: 56px;
        z-index: 998;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
@media (max-width: 768px) {
    .title{
        font-family: Microsoft JhengHei;
        color:#404040;
        font-size: 30px;
        font-weight:bold;
    }
    .font{
        font-family: Microsoft JhengHei;
        color:#666;
        font-size: 16px;
        font-weight:bold;
    }
    .sub_title{
        font-family: Microsoft JhengHei;
        color:#404040;
        font-size: 26px;
        font-weight:bold;
    }
    .mini_font{
        font-family: Microsoft JhengHei;
        color:#666;
        font-size: 12px;
        font-weight:bold;
    }
    .hidden-sm-and-down{
        display:none;
    }
    .box_sub_title{
        font-family: Microsoft JhengHei;
        color:#F60;
        font-size: 28px;
        font-weight:bold;
    }
}
@media (max-width: 1180px) {
    .hidden-sm-and-down{
        display:none;
    }
}


.hidden-sm-up{
    background-color: #fff;
    height: 56px;
    z-index: 998;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.el-row {
    margin-bottom: 20px;
}
.box-detail-hide-card{
    display:none;    
}
