

<!DOCTYPE html>
<head>
  
<link rel='stylesheet' href='https://tafengtravel.github.io/tafengtravel/index/css/smart.css' type='text/css'>
<link href="https://tafengtravel.github.io/tafengtravel/index/index.css" rel="stylesheet" >

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="elementUI.css">


<link href='https://tafengtravel.github.io/tafengtravel/index/sm-css/sm-core-css.css' rel='stylesheet' type='text/css' />
<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
<link href='https://tafengtravel.github.io/tafengtravel/index/sm-css/sm-mint/sm-mint.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">

<script src="https://tafengtravel.github.io/tafengtravel/index/js/jquery.min.js.js"></script>     
<script src="https://tafengtravel.github.io/tafengtravel/index/js/slick.js"></script>
<script src="https://tafengtravel.github.io/tafengtravel/index/js/aos.js"></script>
<script src="https://tafengtravel.github.io/tafengtravel/index/js/smart-app-banner.js"></script>    
<script src="https://tafengtravel.github.io/tafengtravel/index/js/mobile-detect.js"></script>

<script src="https://tafengtravel.github.io/tafengtravel/index/js/functions.js"></script>
<script src="https://tafengtravel.github.io/tafengtravel/index/js/controller.js"></script>
<script src="https://tafengtravel.github.io/tafengtravel/index/js/swiper.jquery.min.js"></script>

<script src="https://tafengtravel.github.io/tafengtravel/index/js/jquery.smartmenus.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


<link href="https://tafengtravel.github.io/tafengtravel/index/css/common.css" rel="stylesheet" />

<!--自家檔案-->

<link rel="icon" href="https://tafengtravel.github.io/tafengtravel/index1/tafenglogo6.ico" type="image/x-icon" />
<link rel="shortcut icon" href="https://tafengtravel.github.io/tafengtravel/index1/tafenglogo6.ico" type="image/x-icon" />


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143702269-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-143702269-1', {
'linker': {
    'domains': ['tafengtravel.github.io', 'tafeng66.com.tw']
}
});
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '708390289347362');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=708390289347362&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Facebook Event -->


<!-- GA Event -->
<script>
window.addEventListener('load', function(event) {
document.querySelectorAll("[href^='http://line.me']").forEach(function(item){
    item.addEventListener('click', function(event){
        gtag("event", "點擊", {event_category: "line客戶轉換"});
    })
})
document.querySelectorAll("[href^='https://line.me']").forEach(function(item){
    item.addEventListener('click', function(event){
        gtag("event", "點擊", {event_category: "line客戶轉換"});
    })
})
})  
</script>

<style>
@media (min-width: 768px){
    .sm-mint a, .sm-mint a:hover, .sm-mint a:focus, .sm-mint a:active, .sm-mint a.highlighted {
    padding: 19px 20px;
    border-radius: 4px 4px 0 0;
    }
    .sm-mint a.has-submenu {
    padding-right: 34px;
    }

}
@media (max-width: 768px) {
    .table-sm td, .table-sm th{
    padding: 1px;
    } 
}

</style>

   
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>大豐旅行社｜國內外旅遊專家</title>   	

<meta name="description" content="大豐旅行社,國內旅遊,國外自由行,世界郵輪,遊覽車出租,來台旅遊">
<meta name="keywords" content="大豐旅行社,國內旅遊,國外自由行" /> 
<meta http-equiv="expires" content="0">
<meta http-equiv="cache-control" content="no-cache">  
<meta http-equiv="pragma" content="no-cache">
<meta name="format-detection" content="telephone=no">

<title>

</title>


</head>
<body id="page_body" class="green-page">
<nav class="main-nav" role="navigation">

<!-- Mobile menu toggle button (hamburger/x icon) -->
<input id="main-menu-state" type="checkbox" />
<label class="main-menu-btn" for="main-menu-state">
  <span class="main-menu-btn-icon"></span> 
</label>

<h2 class="nav-brand"><img src="https://tafengtravel.github.io/tafengtravel/index3/tafenglogo2.png"  width="180" height="56"  ></h2>

<!-- Sample menu definition -->
<ul id="main-menu" class="sm sm-mint">
    <li><a href="https://tafengtravel.github.io/tafengtravel/index/tafengindex.html">首頁</a></li>    
    <li><a href="#">國內旅遊</a>
        <ul>
            <li><a href="https://tafengtravel.github.io/tafengtravel/index/domestic/tafeng_domestic.html">本島</a></li>
            <li><a href="https://tafengtravel.github.io/tafengtravel/index/domestic_island/tafeng_domestic_island.html">離島</a></li>
        </ul>
    </li>
    <li><a href="#">國外旅遊</a>
        <ul>
            <li><a href="https://tafengtravel.github.io/tafengtravel/index/foreign/tafeng_foreign.html">團體</a></li>
            <li><a href="https://tafengtravel.github.io/tafengtravel/index/foreign_self/tafeng_foreign_self.html">自由行</a></li>
        </ul>
    </li>
    <li><a href="https://tafengtravel.github.io/tafengtravel/index/cruise/tafeng_cruise.html">世界郵輪</a></li>   
    <li><a href="https://tafengtravel.github.io/tafengtravel/index/domestic/tafeng_domestic.html">來台專區</a></li>
    <li><a href="https://tafengtravel.github.io/tafengtravel/index/bus/tafeng_bus.html">遊覽車出租</a></li>
    <li><a href="https://tafengtravel.github.io/tafengtravel/index/contract/contract.html">線上合約</a></li>
</ul>
</nav>
    
<div id="pnl_wrapper" class="wrapper homepage green-page">
 



<div id="app" class ="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-24 el-col-sm-offset-0 el-col-lg-20 el-col-lg-offset-2"> 
            
    <div class="home-banner">
    
        <a href="https://tafengtravel.github.io/tafengtravel/index/sale/sale_TP.html" target="_blank"><img class="d-none d-md-block" src="https://tafengtravel.github.io/tafengtravel/index/image/slogan31_1.webp" alt="#" ><img class="d-block d-md-none" src="https://tafengtravel.github.io/tafengtravel/index/image/slogan31_1.webp" alt="#" ></a>
        <a href="https://line.me/ti/g2/bKiBcf3515W4US8Y1MMVPg?utm_source=invitation&utm_medium=link_copy&utm_campaign=default" target="_blank"><img class="d-none d-md-block" src="https://tafengtravel.github.io/tafengtravel/index/image/slogan32_1.webp" alt="#" ><img class="d-block d-md-none" src="https://tafengtravel.github.io/tafengtravel/index/image/slogan32_1.webp" alt="#" ></a>
     
        
    </div>

    <br>
    <div class="el-row">
        <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-24 el-col-sm-offset-0 el-col-lg-16 el-col-lg-offset-0" style="padding-left:12px;padding-right:12px;">
            <el-row>
                <font class ="title" id ="title_1"></font>
            </el-row>
            <el-row>
                <font class ="sub_title">行程特色</font>
            </el-row>
            <el-row>
                <font class ="font"><span id ="features"></span></font>
            </el-row>
            
        </div>

        <div class ="hidden-md-and-down border-l border-grey-light el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-24 el-col-sm-offset-0 el-col-lg-8 el-col-lg-offset-0" style="padding-left:12px;padding-right:12px;">
            <el-row>
                <span class= "el-col-3">
                    <font class ="font"><i class="el-icon-date"></i></font>
                </span>            
                <span class= "el-col-21">
                    <font class ="font">可預訂日期：<span id ="sub_title_1"></span></font>
                </span> 
            </el-row>
            <el-row>
                <span class= "el-col-3">
                    <font class ="font"><i class="el-icon-time"></i></font>
                </span>           
                <span class= "el-col-21">
                    <font class ="font">出發時間：<span id ="sub_title_2"></span></font>
                </span>
            </el-row>
            <el-row>
                <span class= "el-col-3">
                    <font class ="font"><i class="el-icon-s-custom"></i></font>
                </span>            
                <span class= "el-col-21">
                    <font class ="font">最少預定數：<span id ="sub_title_3"></span>人</font>
                </span>   
            </el-row>
        </div>

    </div>

    <el-divider></el-divider>

    <div class="el-row">

        <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-24 el-col-sm-offset-0 el-col-lg-16 el-col-lg-offset-0" style="padding-left:12px;padding-right:12px;">
            <el-divider></el-divider>
            <el-row>
                <font class ="sub_title">方案選擇</font>
            </el-row>

            <el-row>
                <font class ="font">行程日期</font>
                <div class="block">
                    <el-date-picker
                    v-model="value1"
                    type="date"
                    placeholder="選擇日期"
                    id = 'dep_date'
                    :picker-options="pickerOptions"
                    >
                    </el-date-picker>
                </div>
            </el-row>

            <el-row>

                <el-card class="box-card">
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-20 el-col-sm-offset-0" id="box-card" style="padding-left:8px;padding-right:8px;">
                        <font class ="sub_title"><span>馬祖SUP-兩小時課程</span></font><br>
                        <font class ="mini_font"><i class="el-icon-time"></i><span>&emsp;行程總長：2 小時</span></font><br>

                    </div>
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-4 el-col-sm-offset-0" >
                        <el-button style="width:100% ;margin:0px 0px 15px 0px" id="choice" onclick="choice(1)">選擇</el-button>
                    </div>  
                </el-card>            

                <el-card class="box-card box-detail-hide-card" id ="choice_click_1">
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-20 el-col-sm-offset-0" id="box-card" style="padding-left:8px;padding-right:8px;">
                        <el-row>
                            <template>
                                <div >
                                    <el-radio id='radio1' v-model="radio1" label="1" border>單人一板</el-radio>
                                    <el-radio v-model="radio1" label="2" border>雙人一板</el-radio>
                                </div>
                            </template>
                        </el-row>

                        <el-row>
                            <font class ="font"><span>場次：</span></font>
                            <template>
                                <el-select v-model="value" placeholder="請選擇場次" id='choice_time1' >
                                <el-option
                                    v-for="item in options1"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value"
                                    >
                                </el-option>
                                </el-select>
                            </template>
                        </el-row>

                        <el-row>
                            <font class ="font"><span>數量：</span></font> 
                            <template>
                                <el-input-number id='quantity1' v-model="quantity1" :min="1" :max="10" label="描述文字"></el-input-number>
                            </template>
                            
                        </el-row>

                    </div>
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-4 el-col-sm-offset-0" >
                        <el-button style="width:100% ;margin:0px 0px 15px 0px" onclick = 'buy(1)'>立即訂購</el-button>
                    </div>  
                </el-card>

            </el-row>

            <el-row>
                <el-card class="box-card">
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-20 el-col-sm-offset-0" id="box-card" style="padding-left:8px;padding-right:8px;">
                        <font class ="sub_title"><span>馬祖SUP-三小時課程</span></font><br>
                        <font class ="mini_font"><i class="el-icon-time"></i><span>&emsp;行程總長：3 小時</span></font><br>

                    </div>
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-4 el-col-sm-offset-0" >
                        <el-button style="width:100% ;margin:0px 0px 15px 0px" id="choice" onclick="choice(2)">選擇</el-button>
                    </div>  
                </el-card>          

                <el-card class="box-card box-detail-hide-card" id ="choice_click_2">
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-20 el-col-sm-offset-0" id="box-card" style="padding-left:8px;padding-right:8px;">
                        <el-row>
                            <template>
                                <div >
                                    <el-radio id='radio2' v-model="radio1" label="1" border>單人一板</el-radio>
                                    <el-radio v-model="radio1" label="2" border>雙人一板</el-radio>
                                </div>
                            </template>
                        </el-row>

                        <el-row>
                            <font class ="font"><span>場次：</span></font>
                            <template>
                                <el-select v-model="value" placeholder="請選擇場次" id='choice_time2' >
                                <el-option
                                    v-for="item in options2"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value"
                                    >
                                </el-option>
                                </el-select>
                            </template>
                        </el-row>

                        <el-row>
                            <font class ="font"><span>數量：</span></font> 
                            <template>
                                <el-input-number id='quantity2' v-model="quantity1" :min="1" :max="10" label="描述文字" ></el-input-number>
                            </template>
                            
                        </el-row>

                    </div>
                    <div class="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-4 el-col-sm-offset-0" >
                        <el-button style="width:100% ;margin:0px 0px 15px 0px" onclick = 'buy(2)'>立即訂購</el-button>
                    </div>  
                </el-card>

            <el-row>
           

            <el-divider></el-divider>
            <el-row>
                <font class ="sub_title">行程介紹</font>
            </el-row>
            <el-row>
                <font class ="font"><span id ="content"></span>
                    難度: （初階 / 中階 / 進階）<br>
                    適合月份: 6月～9月<br><br>
                    
                    梅石沙灘位於馬祖南竿梅石村。<br>
                    沙灘面下東側，是觀賞日出的好地點。<br>
                    海上可看到北海坑道、大漢據點、印地安人頭岩等景點。<br>
                    附近有軍中樂園、中正堂電影院等戰地歷史建物。<br><br>
                    
                    津沙沙灘位於馬祖南竿知名景點津沙聚落，為馬祖四大傳統聚落之一。<br>
                    沙灘面下西側，是觀賞日落的好地點。<br>
                    沙灘的兩側被碉堡及機槍射口所包圍，是當年戰地前線遺留下來的珍貴歷史建物。

                    活動費用：<br>
                    『二小時課程』<br>
                    1800元/一人一板<br>
                    1600元/兩人一板一人費用<br><br>

                    『三小時課程』<br>
                    2200元/一人一板<br>
                    1900元/兩人一板一人費用<br>

                    日出場： 每人+300元<br><br>

                    活動集合地點：津沙沙灘 or 梅石沙灘<br>
                    活動時間：<br>
                    04:30~07:30 日出場（3小時）<br>
                    08:00~10:00 上午場（2小時）<br>
                    10:30~12:30 中午場（2小時）<br>
                    13:00~15:00 下午場（2小時）<br>
                    15:30~18:30 日落場（3小時）<br><br>


                    報名資訊：兩人即可成行<br>
                    裝備提供：SUP 板、槳、腳繩和救生衣。
                </font>
            </el-row>

            <el-divider></el-divider>
            <el-row>
                <font class ="sub_title">行程說明</font>
            </el-row>
            <el-row>
                <font class ="font"><span id ="features"></span></font>
            </el-row>

            <el-divider></el-divider>
            <el-row>
                <font class ="sub_title">集合地點</font>
            </el-row>
            <el-row>
                <font class ="font"><span id ="features"></span></font>
            </el-row>

            <el-divider></el-divider>
            <el-row>
                <font class ="sub_title">注意事項</font>
            </el-row>
            <el-row>
                <font class ="font"><span id ="features">＊請先評估自身體能與健康狀況再報名參加活動<br>
                    ＊請著易於活動的輕便衣物或泳裝<br>                
                    ＊行程如遇不可抗力因素始可退費(例:陸上颱風警報-依氣象局颱風影響範圍地區為主)。</span></font>
            </el-row>

            <el-divider></el-divider>
            <el-row>
                <font class ="sub_title">取消規定</font>
            </el-row>
            <el-row>
                <font class ="font"><span id ="features">＊如您在體驗開始日前8-前4天提出需求，我們將收取30%的手續費。<br>
                    ＊如您在體驗開始日前3-前1天內提出需求，我們會收取50%的手續費。<br>                
                    ＊如您在體驗開始當日提出需求，將無法退費。<br>                
                    ＊若取消需求是由在地嚮導提出，您將可獲得全額退款。<br>                
                    ＊若取消需求提出時，我們已為您繳交代辦之行政費用(如簽證費、其他無法由受理單位退回之手續費)將無法退回。</span></font>
            </el-row>


            


            

            
            
        </div>

        <div class=" hidden-sm-and-down h-auto el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-24 el-col-sm-offset-0 el-col-md-8 el-col-md-offset-0 el-col-lg-8 el-col-lg-offset-0" >
            <div class = "position" id="position" style="position: sticky;top: 120px;">
                <el-card class="box-card" id="cart" style="width: 400px;">

                        <font class ="font"><span>最低售價</span></font>
                        <font class ="box_sub_title" style="margin-left: 150px;"><span>$1600起</span></font><br>
                        <a href="#title_1"><el-button style="width:100% ;margin-top: 6px;" >選擇方案</el-button></a><br>

                    </div>
                </el-card>
            </div>


        </div>

    </div>

</div>

<style>



@media (min-width: 768px){
    .title{
        font-family: Microsoft JhengHei;
        color:#404040;
        font-size: 35px;
        font-weight:bold;
    }
    .font{
        font-family: Microsoft JhengHei;
        color:#666;
        font-size: 20px;
        font-weight:bold;
    }
    .sub_title{
        font-family: Microsoft JhengHei;
        color:#404040;
        font-size: 28px;
        font-weight:bold;
    }
    .mini_font{
        font-family: Microsoft JhengHei;
        color:#666;
        font-size: 16px;
        font-weight:bold;
    }
    .box_sub_title{
        font-family: Microsoft JhengHei;
        color:#F60;
        font-size: 28px;
        font-weight:bold;
    }        
}
@media (max-width: 768px) {
    .title{
        font-family: Microsoft JhengHei;
        color:#404040;
        font-size: 30px;
        font-weight:bold;
    }
    .font{
        font-family: Microsoft JhengHei;
        color:#666;
        font-size: 16px;
        font-weight:bold;
    }
    .sub_title{
        font-family: Microsoft JhengHei;
        color:#404040;
        font-size: 26px;
        font-weight:bold;
    }
    .mini_font{
        font-family: Microsoft JhengHei;
        color:#666;
        font-size: 12px;
        font-weight:bold;
    }
    .hidden-sm-and-down{
        display:none;
    }
    .box_sub_title{
        font-family: Microsoft JhengHei;
        color:#F60;
        font-size: 28px;
        font-weight:bold;
    }
}
.el-row {
    margin-bottom: 20px;
}
.box-detail-hide-card{
    display:none;    
}



</style>




        
<a class="go-to-top" id="goTop" href="#"><i class="fa fa-caret-up"></i>top</a>

    
</body>

<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui@2.15.0/lib/index.js"></script>


<script>
    

    document.getElementById("title_1").innerHTML='馬祖島嶼探索 - 海上碉堡SUP';
    document.getElementById("sub_title_1").innerHTML='星期一 ~ 星期日';
    document.getElementById("sub_title_2").innerHTML='07:50 / 08:40';
    document.getElementById("sub_title_3").innerHTML='1';
    document.getElementById("features").innerHTML='★一年僅有4個月的枯水期限定美景！屏東霧台的七彩秘境<br>★由在地專業教練團隊帶領，在安全至上的前提欣賞大自然的鬼斧神工<br>★成團即出發！當日來回一日團';

    /*
    for(i=1;i<4;i++){
        document.getElementById("sub_title_"+i).innerHTML='20';
    }
    */    

    var Main = {
    data() {
        return {
            disabledDate:'2021-02-20',
            value1: '',
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() < Date.now() + 24*60*60*1000;
                }
            },
            options1: [{
                value: '08:00~10:00',
                label: '08:00~10:00'
                }, {
                value: '10:30~12:30',
                label: '10:30~12:30'
                }, {
                value: '13:00~15:00',
                label: '13:00~15:00'
                }],
            value: ''
            ,
            options2: [{
                value: '04:30~07:30',
                label: '04:30~07:30'
                }, {
                value: '15:30~18:30',
                label: '15:30~18:30'
                }],
            quantity1: 1,
            radio1: '1',
            };
 
        }
        
     
    };
    let Today=new Date();
    console.log(Today.getFullYear()+'-'+ (Today.getMonth()+1) +'-'+ Today.getDate())

    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')


    document.onscroll = function() {
		var y = window.pageYOffset || document.documentElement.scrollTop;
		if (y > 900) {
            document.getElementById("position").style.position = "fixed";
            document.getElementById("cart").style.width = "400px";
		} else {
            document.getElementById("position").style.position = "sticky";
		}
	};

    function choice(type){

        

        if(type == 1){
            document.getElementById("choice_click_1").style.display = "block";
            document.getElementById("choice_click_2").style.display = "none";
        }else if(type == 2){
            document.getElementById("choice_click_1").style.display = "none";
            document.getElementById("choice_click_2").style.display = "block";
        }

    }

    function buy(type){
        if(type == 1){
            console.log(document.getElementById('dep_date').value)
            console.log(radio1.__vue__.value)
            console.log(document.getElementById('choice_time1').value)
            console.log(quantity1.__vue__.value)
        }else if(type == 2){
            console.log(document.getElementById('dep_date').value)
            console.log(radio2.__vue__.value)
            console.log(document.getElementById('choice_time2').value)
            console.log(quantity2.__vue__.value)
        }

    }

</script>

</html>
